body {
    font-family: "Poppins";
    background-color: rgb(240 241 243);
    margin: 0;
    position: relative;
    min-height: 100vh;
    margin: 0;
    padding: 0px 0px 320px;
}
body::-webkit-scrollbar{
    width: 8px;
    transition: all .3s ease;
}

body::-webkit-scrollbar-thumb{
    background-color: #58d2ff;
    border-radius: 10px;
    cursor: pointer;
    width: 6px;
}
body::-webkit-scrollbar-thumb:hover{
    background-color: #ffd43b;
}

body::-webkit-scrollbar-track{
    background-color: #FBFBFB;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

.search-container{
    display: flex;
    gap: 10px;
    align-items: center;
    box-sizing: border-box;
    padding: 20px;
    background-color: white;
    border-radius: 40px;
    border: 1px black solid;
    color: rgb(24 49 83);
    margin: 0px 20px 20px;
}
.search-container i {
    font-size: 20px;
}

#searchInput {
    flex:  1;
    border: none;
    background-color: transparent;
    font-size: 15px;
    border-radius: 40px;
    display: block;
    outline: none;
    
}
.search-container:has(#searchInput:focus){
    outline: 3px solid rgb(80, 124, 220);
}

#iconGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 20px;
    padding: 20px;
}

.icon-card {
    background-color: white;
    border-radius: 8px;
    padding: 15px;
    text-align: center;
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 125px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    transition: all .3s ease;
}

/* #ffd43b */
.icon-card:hover{
    background-color: #ffd43b;
}
.copied{
    position: absolute;
    padding: 10px;
    top: -10px;
    left: 50%;
    transform: translate(-50%, -100%);
    border-radius: 10px;
    background-color: black;
    color: white !important;
    font-weight: 500;
    width: 100px;
    font-size: .8rem;
    background-color: rgb(62, 62, 62);
    transition: all .2s ease;
    opacity: 0;
    pointer-events: none;
}
.copied.active{
    opacity: 1;
    pointer-events: auto  ;
}

.icon-card i {
    font-size: 30px;
    color: rgb(24 49 83);
    margin-bottom: 10px;
}

.icon-card p {
    margin: 5px 0;
    font-size: 14px;
    color: #555;
     width: 100px;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
    text-overflow: ellipsis;
}


.info-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.info-container #totalIcons{
    font-size: 1.1rem;
    font-weight: 700;
}

.info-container .version-fontawesome_container{
    display: flex;
    gap: 10px;
    align-items: center;
}
.info-container .version-fontawesome_container select{
    padding: 10px 20px;
    background-color: white;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

.info-container .version-fontawesome_container a{
    text-decoration: none;
    padding: 7px 9px;
    border: 1px rgb(109, 109, 109) solid;
    border-radius: 5px;
    background-color: white;
    color: black;
    font-weight: 600;
    font-size: 1rem;
    box-shadow: 5px 5px black;
    transition: all .3s ease;
}
.info-container .version-fontawesome_container a:hover{
    background-color: #ffd43b;
}

    .background-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        opacity: .8;
    }

    /* Lớp ảnh nền */
    .background-container::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url("images/ảnh nền.jpg");
        opacity: .5;
    }

    .background-container::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(
            rgba(126, 250, 250, 0.4), 
            rgba(104, 238, 238, 0.4)
        );
    }
    .header{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        padding: 40px 0;
        width: 100%;
        margin: 0;
        background-color: white;
        margin-bottom: 20px;
        background-color: #ffd803;        
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;    
        position: relative;
        font-family: "Sour Gummy", sans-serif;
    }
    .header button{
        padding: 15px 20px;
        border: none;
        border-radius: 40px;
        font-size: .9rem;
        font-weight: 700;
        cursor: pointer;
        background-color: white;
        box-shadow: 0px 7px 0px  black;
        transition: all .2s ease;
    }
    .header button:hover{
        background-color:#e1e1e1;
    }
    .header button:active{
        transform: translateY(10px);
        box-shadow: 0px 5px 0px  black;
    }
    
    .header h1 {
        text-align: center;
        color: black;
        font-size: 40px;
        margin: 20px 0;
    }
    .header > *{
        margin: 0;
    }
    .copied-cnd{
        position: fixed;
        bottom: 10px;
        left: 10px;
        padding: 10px;
        border-radius: 10px;
        background-color: black;
        color: white;
        font-size: .9rem;
        width: 200px;
        z-index: 5;
        font-weight: 700;
        opacity: 0;
        pointer-events: none;
        transform: translateY(10px);
        transition: all .3s ease-in-out;
    }
    .copied-cnd.active{
        opacity: 1;
        transform: translateY(0);
    }

    .header img{
        position: absolute;
        /* object-fit: cover; */
        right: 20px;
        bottom:0px;
        width: 150px;
    }
    #scrollToTopBottom{
        position: fixed;
        bottom: 15px;
        right: 15px;
        padding: 20px 22px;
        border-radius: 5px;
        cursor: pointer;
        font-size: 1rem;
        z-index: 5;
        border: 1px black solid;
        background-color: white;
        box-shadow: 0px 5px black;
        transition: all .3s ease;
        opacity: 0;
        pointer-events: none;
    }
    
    #scrollToTopBottom:hover{
        background-color: #ffd803;
    }
    #scrollToTopBottom.active{
        opacity: 1;
        pointer-events: auto;
    }
    #pagination{
        margin: 30px 0;
    }
    #pagination button {
        padding: 10px 20px;
        margin: 0 10px;
        border: none;
        background-color: #ffd803;
        cursor: pointer;
        border-radius: 5px;
        color: rgb(24 49 83);
        font-weight: 700;
        font-size: .9rem;
        box-shadow: 5px 5px black;
    }
    #pagination button:disabled {
        background-color: rgb(217 217 217);
        cursor: not-allowed;
    }
    #pagination span {
        font-weight: bold;
        cursor: pointer;
    }
    .pagination-input {
        border: 1px black solid;
        border-radius: 5px; 
        background: transparent;
        font: inherit;
        font-weight: bold;
        text-align: center;
        width: auto;
        min-width: 50px; 
        color: inherit;
        padding: 0px;
        margin: 0 5px; 
        box-shadow: 5px 5px black;
    }
    .pagination-input::-webkit-inner-spin-button,
    .pagination-input::-webkit-outer-spin-button{
        display: none;
        margin: 0;
    }

    .pagination-input:focus {
        outline: none; 
    }

    @media (max-width: 960px) {
        .header h1{
            font-size: 35px;
        }
        .header img{
            width: 120px;
        }
    }
    
    @media (max-width: 800px) {
        .header img{
            width: 80px;
        }
        .header h1{
            font-size: 28px;
                margin: 10px 10px;
        }

        #iconGrid {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(110px, 1fr));
            gap: 10px;
            padding: 20px;
        }
        .icon-card{
            height: 90px;
        }

        .icon-card i {
            font-size: 20px;
        }

        .icon-card p {
            margin: 5px 0;
            font-size: 13px;
            color: #555;
            width: 90px;
        }

        .info-container #totalIcons{
            font-size: 1rem;
        }

        .info-container .version-fontawesome_container{
            gap: 5px;
        }
        .info-container .version-fontawesome_container select{
            padding: 5px 15px;
            font-size: .9rem;
        }

        .info-container .version-fontawesome_container a{
            padding: 5px 5px;
            font-size: .85rem;
        }

        
    }
    @media (max-width: 600px){
        .header h1{
            font-size: 25px;
        }
        .info-container #totalIcons{
            font-size: .85rem;
        }
        .info-container .version-fontawesome_container select{
            padding: 3px 10px;
            font-size: .8rem;
        }

        .info-container .version-fontawesome_container a{
            padding:3px 5px;
            font-size: .8rem;
        }
    }

    .footer {
        background-color: white;
        color: #555;
        padding: 30px 20px;
        text-align: center;
        font-size: 0.9rem;
        border-top: 1px solid #ddd;
        margin-top: 40px;
        position: absolute;
        bottom: 0;
        width: 100%;
        box-sizing: border-box;
}
.footer-links {
    margin-bottom: 15px;
}
.footer-links a {
    color: #337ab7;
    text-decoration: none;
    margin: 0 10px;
}
.footer-links a:hover {
    text-decoration: underline;
}
.footer p {
    margin: 5px 0;
    font-weight: 500;
    line-height: 1.6;
}