body {
    font-family: "Poppins";
    background-color: rgb(240 241 243);
    margin: 0;
    padding: 20px;
    position: relative;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}
body::-webkit-scrollbar{
    width: 8px;
    transition: all .3s ease;
}

body::-webkit-scrollbar-thumb{
    background-color: #58d2ff;
    border-radius: 10px;
    cursor: pointer;
    width: 6px;
}
body::-webkit-scrollbar-thumb:hover{
    background-color: #ffd43b;
}

body::-webkit-scrollbar-track{
    background-color: #FBFBFB;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}



.search-container{
    display: flex;
    gap: 10px;
    align-items: center;
    box-sizing: border-box;
    padding: 20px;
    /* margin-bottom: 20px; */
    background-color: white;
    border-radius: 40px;
    border: 1px black solid;
    color: rgb(24 49 83);
    margin: 0px 20px 20px;
}
.search-container i {
    font-size: 20px;
}

#searchInput {
    flex:  1;
    border: none;
    background-color: transparent;
    font-size: 15px;
    border-radius: 40px;
    display: block;
    outline: none;
    
}
.search-container:has(#searchInput:focus){
    outline: 3px solid rgb(80, 124, 220);
}

#iconGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 20px;
    padding: 20px;
}

.icon-card {
    background-color: white;
    border-radius: 8px;
    padding: 15px;
    text-align: center;
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 125px;
    transition: all .3s ease;
}
.icon-card  p{
    width: 100px;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
    text-overflow: ellipsis;
}
/* #ffd43b */
.icon-card:hover{
    background-color: #ffd43b;
}
.copied{
    position: absolute;
    padding: 10px;
    top: -10px;
    left: 50%;
    transform: translate(-50%, -100%);
    border-radius: 10px;
    background-color: black;
    color: white !important;
    font-weight: 500;
    width: 100px;
    font-size: .8rem;
    background-color: rgb(62, 62, 62);
    transition: all .2s ease;
    opacity: 0;
    pointer-events: none;
}
.copied.active{
    opacity: 1;
    pointer-events: auto  ;
}

.icon-card i {
    font-size: 30px;
    color: rgb(24 49 83);
    margin-bottom: 10px;
}

.icon-card p {
    margin: 5px 0;
    font-size: 14px;
    color: #555;
}

