@font-face {
  font-family: 'batch2';
  src:  url('fonts/batch2.eot?8tuhh1');
  src:  url('fonts/batch2.eot?8tuhh1#iefix') format('embedded-opentype'),
    url('fonts/batch2.ttf?8tuhh1') format('truetype'),
    url('fonts/batch2.woff?8tuhh1') format('woff'),
    url('fonts/batch2.svg?8tuhh1#batch2') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="sicon-"], [class*=" sicon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'batch2' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sicon-h2database:before {
  content: "\edd3";
}
.sicon-h3:before {
  content: "\edd4";
}
.sicon-habr:before {
  content: "\edd5";
}
.sicon-hackaday:before {
  content: "\edd6";
}
.sicon-hackclub:before {
  content: "\edd7";
}
.sicon-hackerearth:before {
  content: "\edd8";
}
.sicon-hackernoon:before {
  content: "\edd9";
}
.sicon-hackerone:before {
  content: "\edda";
}
.sicon-hackerrank:before {
  content: "\eddb";
}
.sicon-hackster:before {
  content: "\eddc";
}
.sicon-hackthebox:before {
  content: "\eddd";
}
.sicon-hal:before {
  content: "\edde";
}
.sicon-handlebarsdotjs:before {
  content: "\eddf";
}
.sicon-handm:before {
  content: "\ede0";
}
.sicon-handshake:before {
  content: "\ede1";
}
.sicon-handshake_protocol:before {
  content: "\ede2";
}
.sicon-happycow:before {
  content: "\ede3";
}
.sicon-harbor:before {
  content: "\ede4";
}
.sicon-harmonyos:before {
  content: "\ede5";
}
.sicon-hashicorp:before {
  content: "\ede6";
}
.sicon-hashnode:before {
  content: "\ede7";
}
.sicon-haskell:before {
  content: "\ede8";
}
.sicon-hasura:before {
  content: "\ede9";
}
.sicon-hatenabookmark:before {
  content: "\edea";
}
.sicon-haveibeenpwned:before {
  content: "\edeb";
}
.sicon-havells:before {
  content: "\edec";
}
.sicon-haxe:before {
  content: "\eded";
}
.sicon-haystack:before {
  content: "\edee";
}
.sicon-hbo:before {
  content: "\edef";
}
.sicon-hbomax:before {
  content: "\edf0";
}
.sicon-hcl:before {
  content: "\edf1";
}
.sicon-hdfcbank:before {
  content: "\edf2";
}
.sicon-headlessui:before {
  content: "\edf3";
}
.sicon-headphonezone:before {
  content: "\edf4";
}
.sicon-headspace:before {
  content: "\edf5";
}
.sicon-hearth:before {
  content: "\edf6";
}
.sicon-hearthisdotat:before {
  content: "\edf7";
}
.sicon-hedera:before {
  content: "\edf8";
}
.sicon-hedgedoc:before {
  content: "\edf9";
}
.sicon-helium:before {
  content: "\edfa";
}
.sicon-helix:before {
  content: "\edfb";
}
.sicon-hellofresh:before {
  content: "\edfc";
}
.sicon-hellyhansen:before {
  content: "\edfd";
}
.sicon-helm:before {
  content: "\edfe";
}
.sicon-helpdesk:before {
  content: "\edff";
}
.sicon-helpscout:before {
  content: "\ee00";
}
.sicon-hepsiemlak:before {
  content: "\ee01";
}
.sicon-here:before {
  content: "\ee02";
}
.sicon-hermes:before {
  content: "\ee03";
}
.sicon-heroicgameslauncher:before {
  content: "\ee04";
}
.sicon-heroku:before {
  content: "\ee05";
}
.sicon-heroui:before {
  content: "\ee06";
}
.sicon-hetzner:before {
  content: "\ee07";
}
.sicon-hevy:before {
  content: "\ee08";
}
.sicon-hexlet:before {
  content: "\ee09";
}
.sicon-hexo:before {
  content: "\ee0a";
}
.sicon-hey:before {
  content: "\ee0b";
}
.sicon-hibernate:before {
  content: "\ee0c";
}
.sicon-hibob:before {
  content: "\ee0d";
}
.sicon-hilton:before {
  content: "\ee0e";
}
.sicon-hiltonhotelsandresorts:before {
  content: "\ee0f";
}
.sicon-hitachi:before {
  content: "\ee10";
}
.sicon-hive:before {
  content: "\ee11";
}
.sicon-hive_blockchain:before {
  content: "\ee12";
}
.sicon-hivemq:before {
  content: "\ee13";
}
.sicon-homarr:before {
  content: "\ee14";
}
.sicon-homeadvisor:before {
  content: "\ee15";
}
.sicon-homeassistant:before {
  content: "\ee16";
}
.sicon-homeassistantcommunitystore:before {
  content: "\ee17";
}
.sicon-homebrew:before {
  content: "\ee18";
}
.sicon-homebridge:before {
  content: "\ee19";
}
.sicon-homepage:before {
  content: "\ee1a";
}
.sicon-homify:before {
  content: "\ee1b";
}
.sicon-honda:before {
  content: "\ee1c";
}
.sicon-honey:before {
  content: "\ee1d";
}
.sicon-honeybadger:before {
  content: "\ee1e";
}
.sicon-honeygain:before {
  content: "\ee1f";
}
.sicon-hono:before {
  content: "\ee20";
}
.sicon-honor:before {
  content: "\ee21";
}
.sicon-hootsuite:before {
  content: "\ee22";
}
.sicon-hoppscotch:before {
  content: "\ee23";
}
.sicon-hostinger:before {
  content: "\ee24";
}
.sicon-hotelsdotcom:before {
  content: "\ee25";
}
.sicon-hotjar:before {
  content: "\ee26";
}
.sicon-hotwire:before {
  content: "\ee27";
}
.sicon-houdini:before {
  content: "\ee28";
}
.sicon-houzz:before {
  content: "\ee29";
}
.sicon-hp:before {
  content: "\ee2a";
}
.sicon-hsbc:before {
  content: "\ee2b";
}
.sicon-htc:before {
  content: "\ee2c";
}
.sicon-htcvive:before {
  content: "\ee2d";
}
.sicon-html5:before {
  content: "\ee2e";
}
.sicon-htmlacademy:before {
  content: "\ee2f";
}
.sicon-htmx:before {
  content: "\ee30";
}
.sicon-htop:before {
  content: "\ee31";
}
.sicon-httpie:before {
  content: "\ee32";
}
.sicon-huawei:before {
  content: "\ee33";
}
.sicon-hubspot:before {
  content: "\ee34";
}
.sicon-huggingface:before {
  content: "\ee35";
}
.sicon-hugo:before {
  content: "\ee36";
}
.sicon-humblebundle:before {
  content: "\ee37";
}
.sicon-humhub:before {
  content: "\ee38";
}
.sicon-hungryjacks:before {
  content: "\ee39";
}
.sicon-husqvarna:before {
  content: "\ee3a";
}
.sicon-hyper:before {
  content: "\ee3b";
}
.sicon-hyperskill:before {
  content: "\ee3c";
}
.sicon-hyperx:before {
  content: "\ee3d";
}
.sicon-hypothesis:before {
  content: "\ee3e";
}
.sicon-hyprland:before {
  content: "\ee3f";
}
.sicon-hyundai:before {
  content: "\ee40";
}
.sicon-i3:before {
  content: "\ee41";
}
.sicon-i18next:before {
  content: "\ee42";
}
.sicon-iata:before {
  content: "\ee43";
}
.sicon-ibeacon:before {
  content: "\ee44";
}
.sicon-iberia:before {
  content: "\ee45";
}
.sicon-iced:before {
  content: "\ee46";
}
.sicon-iceland:before {
  content: "\ee47";
}
.sicon-icicibank:before {
  content: "\ee48";
}
.sicon-icinga:before {
  content: "\ee49";
}
.sicon-icloud:before {
  content: "\ee4a";
}
.sicon-icomoon:before {
  content: "\ee4b";
}
.sicon-icon:before {
  content: "\ee4c";
}
.sicon-iconfinder:before {
  content: "\ee4d";
}
.sicon-iconify:before {
  content: "\ee4e";
}
.sicon-iconjar:before {
  content: "\ee4f";
}
.sicon-icons8:before {
  content: "\ee50";
}
.sicon-icq:before {
  content: "\ee51";
}
.sicon-ieee:before {
  content: "\ee52";
}
.sicon-ifixit:before {
  content: "\ee53";
}
.sicon-ifood:before {
  content: "\ee54";
}
.sicon-ifttt:before {
  content: "\ee55";
}
.sicon-igdb:before {
  content: "\ee56";
}
.sicon-ign:before {
  content: "\ee57";
}
.sicon-iheartradio:before {
  content: "\ee58";
}
.sicon-ikea:before {
  content: "\ee59";
}
.sicon-iledefrancemobilites:before {
  content: "\ee5a";
}
.sicon-ilovepdf:before {
  content: "\ee5b";
}
.sicon-imagedotsc:before {
  content: "\ee5c";
}
.sicon-imagej:before {
  content: "\ee5d";
}
.sicon-imdb:before {
  content: "\ee5e";
}
.sicon-imessage:before {
  content: "\ee5f";
}
.sicon-imgur:before {
  content: "\ee60";
}
.sicon-immer:before {
  content: "\ee61";
}
.sicon-immersivetranslate:before {
  content: "\ee62";
}
.sicon-immich:before {
  content: "\ee63";
}
.sicon-imou:before {
  content: "\ee64";
}
.sicon-improvmx:before {
  content: "\ee65";
}
.sicon-indeed:before {
  content: "\ee66";
}
.sicon-indiansuperleague:before {
  content: "\ee67";
}
.sicon-indiehackers:before {
  content: "\ee68";
}
.sicon-indigo:before {
  content: "\ee69";
}
.sicon-inductiveautomation:before {
  content: "\ee6a";
}
.sicon-inertia:before {
  content: "\ee6b";
}
.sicon-infiniti:before {
  content: "\ee6c";
}
.sicon-infinityfree:before {
  content: "\ee6d";
}
.sicon-influxdb:before {
  content: "\ee6e";
}
.sicon-infomaniak:before {
  content: "\ee6f";
}
.sicon-infoq:before {
  content: "\ee70";
}
.sicon-informatica:before {
  content: "\ee71";
}
.sicon-infosys:before {
  content: "\ee72";
}
.sicon-infracost:before {
  content: "\ee73";
}
.sicon-inkdrop:before {
  content: "\ee74";
}
.sicon-inkscape:before {
  content: "\ee75";
}
.sicon-inoreader:before {
  content: "\ee76";
}
.sicon-inquirer:before {
  content: "\ee77";
}
.sicon-insomnia:before {
  content: "\ee78";
}
.sicon-inspire:before {
  content: "\ee79";
}
.sicon-insta360:before {
  content: "\ee7a";
}
.sicon-instacart:before {
  content: "\ee7b";
}
.sicon-instagram:before {
  content: "\ee7c";
}
.sicon-instapaper:before {
  content: "\ee7d";
}
.sicon-instatus:before {
  content: "\ee7e";
}
.sicon-instructables:before {
  content: "\ee7f";
}
.sicon-instructure:before {
  content: "\ee80";
}
.sicon-intel:before {
  content: "\ee81";
}
.sicon-intellijidea:before {
  content: "\ee82";
}
.sicon-interactiondesignfoundation:before {
  content: "\ee83";
}
.sicon-interactjs:before {
  content: "\ee84";
}
.sicon-interbase:before {
  content: "\ee85";
}
.sicon-intercom:before {
  content: "\ee86";
}
.sicon-intermarche:before {
  content: "\ee87";
}
.sicon-internetarchive:before {
  content: "\ee88";
}
.sicon-internetcomputer:before {
  content: "\ee89";
}
.sicon-intigriti:before {
  content: "\ee8a";
}
.sicon-intuit:before {
  content: "\ee8b";
}
.sicon-invidious:before {
  content: "\ee8c";
}
.sicon-invision:before {
  content: "\ee8d";
}
.sicon-invoiceninja:before {
  content: "\ee8e";
}
.sicon-ingress:before {
  content: "\ee8f";
}
.sicon-iobroker:before {
  content: "\ee90";
}
.sicon-ionic:before {
  content: "\ee91";
}
.sicon-ionos:before {
  content: "\ee92";
}
.sicon-ios:before {
  content: "\ee93";
}
.sicon-iota:before {
  content: "\ee94";
}
.sicon-ipfs:before {
  content: "\ee95";
}
.sicon-iris:before {
  content: "\ee96";
}
.sicon-irobot:before {
  content: "\ee97";
}
.sicon-isc2:before {
  content: "\ee98";
}
.sicon-isro:before {
  content: "\ee99";
}
.sicon-issuu:before {
  content: "\ee9a";
}
.sicon-istio:before {
  content: "\ee9b";
}
.sicon-itchdotio:before {
  content: "\ee9c";
}
.sicon-iterm2:before {
  content: "\ee9d";
}
.sicon-itunes:before {
  content: "\ee9e";
}
.sicon-itvx:before {
  content: "\ee9f";
}
.sicon-iveco:before {
  content: "\eea0";
}
.sicon-jabber:before {
  content: "\eea1";
}
.sicon-jaeger:before {
  content: "\eea2";
}
.sicon-jaguar:before {
  content: "\eea3";
}
.sicon-jameson:before {
  content: "\eea4";
}
.sicon-jamstack:before {
  content: "\eea5";
}
.sicon-japanairlines:before {
  content: "\eea6";
}
.sicon-jasmine:before {
  content: "\eea7";
}
.sicon-javascript:before {
  content: "\eea8";
}
.sicon-jbl:before {
  content: "\eea9";
}
.sicon-jcb:before {
  content: "\eeaa";
}
.sicon-jdoodle:before {
  content: "\eeab";
}
.sicon-jeep:before {
  content: "\eeac";
}
.sicon-jekyll:before {
  content: "\eead";
}
.sicon-jellyfin:before {
  content: "\eeae";
}
.sicon-jenkins:before {
  content: "\eeaf";
}
.sicon-jest:before {
  content: "\eeb0";
}
.sicon-jet:before {
  content: "\eeb1";
}
.sicon-jetblue:before {
  content: "\eeb2";
}
.sicon-jetbrains:before {
  content: "\eeb3";
}
.sicon-jetpackcompose:before {
  content: "\eeb4";
}
.sicon-jfrog:before {
  content: "\eeb5";
}
.sicon-jfrogpipelines:before {
  content: "\eeb6";
}
.sicon-jhipster:before {
  content: "\eeb7";
}
.sicon-jinja:before {
  content: "\eeb8";
}
.sicon-jio:before {
  content: "\eeb9";
}
.sicon-jira:before {
  content: "\eeba";
}
.sicon-jirasoftware:before {
  content: "\eebb";
}
.sicon-jitpack:before {
  content: "\eebc";
}
.sicon-jitsi:before {
  content: "\eebd";
}
.sicon-johndeere:before {
  content: "\eebe";
}
.sicon-joomla:before {
  content: "\eebf";
}
.sicon-joplin:before {
  content: "\eec0";
}
.sicon-jordan:before {
  content: "\eec1";
}
.sicon-jouav:before {
  content: "\eec2";
}
.sicon-jovian:before {
  content: "\eec3";
}
.sicon-jpeg:before {
  content: "\eec4";
}
.sicon-jquery:before {
  content: "\eec5";
}
.sicon-jrgroup:before {
  content: "\eec6";
}
.sicon-jsdelivr:before {
  content: "\eec7";
}
.sicon-jsfiddle:before {
  content: "\eec8";
}
.sicon-json:before {
  content: "\eec9";
}
.sicon-jsonwebtokens:before {
  content: "\eeca";
}
.sicon-jsr:before {
  content: "\eecb";
}
.sicon-jss:before {
  content: "\eecc";
}
.sicon-juce:before {
  content: "\eecd";
}
.sicon-juejin:before {
  content: "\eece";
}
.sicon-juke:before {
  content: "\eecf";
}
.sicon-julia:before {
  content: "\eed0";
}
.sicon-junipernetworks:before {
  content: "\eed1";
}
.sicon-junit5:before {
  content: "\eed2";
}
.sicon-jupyter:before {
  content: "\eed3";
}
.sicon-justeat:before {
  content: "\eed4";
}
.sicon-justgiving:before {
  content: "\eed5";
}
.sicon-k3s:before {
  content: "\eed6";
}
.sicon-k6:before {
  content: "\eed7";
}
.sicon-kaggle:before {
  content: "\eed8";
}
.sicon-kagi:before {
  content: "\eed9";
}
.sicon-kahoot:before {
  content: "\eeda";
}
.sicon-kaios:before {
  content: "\eedb";
}
.sicon-kakao:before {
  content: "\eedc";
}
.sicon-kakaotalk:before {
  content: "\eedd";
}
.sicon-kalilinux:before {
  content: "\eede";
}
.sicon-kamailio:before {
  content: "\eedf";
}
.sicon-kaniko:before {
  content: "\eee0";
}
.sicon-karlsruherverkehrsverbund:before {
  content: "\eee1";
}
.sicon-kasasmart:before {
  content: "\eee2";
}
.sicon-kashflow:before {
  content: "\eee3";
}
.sicon-kaspersky:before {
  content: "\eee4";
}
.sicon-katana:before {
  content: "\eee5";
}
.sicon-kaufland:before {
  content: "\eee6";
}
.sicon-kde:before {
  content: "\eee7";
}
.sicon-kdeneon:before {
  content: "\eee8";
}
.sicon-kdenlive:before {
  content: "\eee9";
}
.sicon-kdeplasma:before {
  content: "\eeea";
}
.sicon-kedro:before {
  content: "\eeeb";
}
.sicon-keenetic:before {
  content: "\eeec";
}
.sicon-keepachangelog:before {
  content: "\eeed";
}
.sicon-keepassxc:before {
  content: "\eeee";
}
.sicon-keeper:before {
  content: "\eeef";
}
.sicon-keeweb:before {
  content: "\eef0";
}
.sicon-kenmei:before {
  content: "\eef1";
}
.sicon-kentico:before {
  content: "\eef2";
}
.sicon-keploy:before {
  content: "\eef3";
}
.sicon-keras:before {
  content: "\eef4";
}
.sicon-keybase:before {
  content: "\eef5";
}
.sicon-keycdn:before {
  content: "\eef6";
}
.sicon-keycloak:before {
  content: "\eef7";
}
.sicon-keystone:before {
  content: "\eef8";
}
.sicon-kfc:before {
  content: "\eef9";
}
.sicon-kia:before {
  content: "\eefa";
}
.sicon-kibana:before {
  content: "\eefb";
}
.sicon-kicad:before {
  content: "\eefc";
}
.sicon-kick:before {
  content: "\eefd";
}
.sicon-kickstarter:before {
  content: "\eefe";
}
.sicon-kik:before {
  content: "\eeff";
}
.sicon-kinopoisk:before {
  content: "\ef00";
}
.sicon-kinsta:before {
  content: "\ef01";
}
.sicon-kingstontechnology:before {
  content: "\ef02";
}
.sicon-kirby:before {
  content: "\ef03";
}
.sicon-kit:before {
  content: "\ef04";
}
.sicon-kitsu:before {
  content: "\ef05";
}
.sicon-kiwix:before {
  content: "\ef06";
}
.sicon-klarna:before {
  content: "\ef07";
}
.sicon-kleinanzeigen:before {
  content: "\ef08";
}
.sicon-klm:before {
  content: "\ef09";
}
.sicon-klook:before {
  content: "\ef0a";
}
.sicon-knative:before {
  content: "\ef0b";
}
.sicon-knexdotjs:before {
  content: "\ef0c";
}
.sicon-knime:before {
  content: "\ef0d";
}
.sicon-knip:before {
  content: "\ef0e";
}
.sicon-knowledgebase:before {
  content: "\ef0f";
}
.sicon-known:before {
  content: "\ef10";
}
.sicon-koa:before {
  content: "\ef11";
}
.sicon-koc:before {
  content: "\ef12";
}
.sicon-kodak:before {
  content: "\ef13";
}
.sicon-kodi:before {
  content: "\ef14";
}
.sicon-koenigsegg:before {
  content: "\ef15";
}
.sicon-kofax:before {
  content: "\ef16";
}
.sicon-kofi:before {
  content: "\ef17";
}
.sicon-komoot:before {
  content: "\ef18";
}
.sicon-konami:before {
  content: "\ef19";
}
.sicon-konva:before {
  content: "\ef1a";
}
.sicon-kong:before {
  content: "\ef1b";
}
.sicon-kongregate:before {
  content: "\ef1c";
}
.sicon-koreader:before {
  content: "\ef1d";
}
.sicon-kotlin:before {
  content: "\ef1e";
}
.sicon-koyeb:before {
  content: "\ef1f";
}
.sicon-kred:before {
  content: "\ef20";
}
.sicon-krita:before {
  content: "\ef21";
}
.sicon-ktm:before {
  content: "\ef22";
}
.sicon-ktor:before {
  content: "\ef23";
}
.sicon-kuaishou:before {
  content: "\ef24";
}
.sicon-kubernetes:before {
  content: "\ef25";
}
.sicon-kubespray:before {
  content: "\ef26";
}
.sicon-kubuntu:before {
  content: "\ef27";
}
.sicon-kucoin:before {
  content: "\ef28";
}
.sicon-kueski:before {
  content: "\ef29";
}
.sicon-kuma:before {
  content: "\ef2a";
}
.sicon-kununu:before {
  content: "\ef2b";
}
.sicon-kuula:before {
  content: "\ef2c";
}
.sicon-kx:before {
  content: "\ef2d";
}
.sicon-kyocera:before {
  content: "\ef2e";
}
.sicon-khanacademy:before {
  content: "\ef2f";
}
.sicon-khronosgroup:before {
  content: "\ef30";
}
.sicon-labex:before {
  content: "\ef31";
}
.sicon-labview:before {
  content: "\ef32";
}
.sicon-lada:before {
  content: "\ef33";
}
.sicon-lamborghini:before {
  content: "\ef34";
}
.sicon-landrover:before {
  content: "\ef35";
}
.sicon-langchain:before {
  content: "\ef36";
}
.sicon-langflow:before {
  content: "\ef37";
}
.sicon-langgraph:before {
  content: "\ef38";
}
.sicon-languagetool:before {
  content: "\ef39";
}
.sicon-lapce:before {
  content: "\ef3a";
}
.sicon-laragon:before {
  content: "\ef3b";
}
.sicon-laravel:before {
  content: "\ef3c";
}
.sicon-laravelhorizon:before {
  content: "\ef3d";
}
.sicon-laravelnova:before {
  content: "\ef3e";
}
.sicon-lastdotfm:before {
  content: "\ef3f";
}
.sicon-lastpass:before {
  content: "\ef40";
}
.sicon-latex:before {
  content: "\ef41";
}
.sicon-launchpad:before {
  content: "\ef42";
}
.sicon-lazarus:before {
  content: "\ef43";
}
.sicon-lazyvim:before {
  content: "\ef44";
}
.sicon-lbry:before {
  content: "\ef45";
}
.sicon-leaderprice:before {
  content: "\ef46";
}
.sicon-leaflet:before {
  content: "\ef47";
}
.sicon-leagueoflegends:before {
  content: "\ef48";
}
.sicon-leanpub:before {
  content: "\ef49";
}
.sicon-leetcode:before {
  content: "\ef4a";
}
.sicon-lefthook:before {
  content: "\ef4b";
}
.sicon-legacygames:before {
  content: "\ef4c";
}
.sicon-leica:before {
  content: "\ef4d";
}
.sicon-lemmy:before {
  content: "\ef4e";
}
.sicon-lemonsqueezy:before {
  content: "\ef4f";
}
.sicon-lenovo:before {
  content: "\ef50";
}
.sicon-lens:before {
  content: "\ef51";
}
.sicon-leptos:before {
  content: "\ef52";
}
.sicon-lequipe:before {
  content: "\ef53";
}
.sicon-lerna:before {
  content: "\ef54";
}
.sicon-leroymerlin:before {
  content: "\ef55";
}
.sicon-leslibraires:before {
  content: "\ef56";
}
.sicon-less:before {
  content: "\ef57";
}
.sicon-letsencrypt:before {
  content: "\ef58";
}
.sicon-letterboxd:before {
  content: "\ef59";
}
.sicon-levelsdotfyi:before {
  content: "\ef5a";
}
.sicon-lg:before {
  content: "\ef5b";
}
.sicon-liberadotchat:before {
  content: "\ef5c";
}
.sicon-liberapay:before {
  content: "\ef5d";
}
.sicon-librariesdotio:before {
  content: "\ef5e";
}
.sicon-librarything:before {
  content: "\ef5f";
}
.sicon-libreoffice:before {
  content: "\ef60";
}
.sicon-libreofficebase:before {
  content: "\ef61";
}
.sicon-libreofficecalc:before {
  content: "\ef62";
}
.sicon-libreofficedraw:before {
  content: "\ef63";
}
.sicon-libreofficeimpress:before {
  content: "\ef64";
}
.sicon-libreofficemath:before {
  content: "\ef65";
}
.sicon-libreofficewriter:before {
  content: "\ef66";
}
.sicon-libretube:before {
  content: "\ef67";
}
.sicon-libretranslate:before {
  content: "\ef68";
}
.sicon-librewolf:before {
  content: "\ef69";
}
.sicon-libuv:before {
  content: "\ef6a";
}
.sicon-lichess:before {
  content: "\ef6b";
}
.sicon-lidl:before {
  content: "\ef6c";
}
.sicon-lifx:before {
  content: "\ef6d";
}
.sicon-lightburn:before {
  content: "\ef6e";
}
.sicon-lightning:before {
  content: "\ef6f";
}
.sicon-lighthouse:before {
  content: "\ef70";
}
.sicon-limesurvey:before {
  content: "\ef71";
}
.sicon-line:before {
  content: "\ef72";
}
.sicon-lineageos:before {
  content: "\ef73";
}
.sicon-linear:before {
  content: "\ef74";
}
.sicon-lining:before {
  content: "\ef75";
}
.sicon-linkerd:before {
  content: "\ef76";
}
.sicon-linkfire:before {
  content: "\ef77";
}
.sicon-linksys:before {
  content: "\ef78";
}
.sicon-linktree:before {
  content: "\ef79";
}
.sicon-linphone:before {
  content: "\ef7a";
}
.sicon-lintcode:before {
  content: "\ef7b";
}
.sicon-linux:before {
  content: "\ef7c";
}
.sicon-linuxcontainers:before {
  content: "\ef7d";
}
.sicon-linuxfoundation:before {
  content: "\ef7e";
}
.sicon-linuxmint:before {
  content: "\ef7f";
}
.sicon-linuxprofessionalinstitute:before {
  content: "\ef80";
}
.sicon-linuxserver:before {
  content: "\ef81";
}
.sicon-lionair:before {
  content: "\ef82";
}
.sicon-liquibase:before {
  content: "\ef83";
}
.sicon-listenhub:before {
  content: "\ef84";
}
.sicon-listmonk:before {
  content: "\ef85";
}
.sicon-lit:before {
  content: "\ef86";
}
.sicon-litecoin:before {
  content: "\ef87";
}
.sicon-literal:before {
  content: "\ef88";
}
.sicon-litiengine:before {
  content: "\ef89";
}
.sicon-livechat:before {
  content: "\ef8a";
}
.sicon-livejournal:before {
  content: "\ef8b";
}
.sicon-livekit:before {
  content: "\ef8c";
}
.sicon-livewire:before {
  content: "\ef8d";
}
.sicon-llvm:before {
  content: "\ef8e";
}
.sicon-lmms:before {
  content: "\ef8f";
}
.sicon-lobsters:before {
  content: "\ef90";
}
.sicon-local:before {
  content: "\ef91";
}
.sicon-localsend:before {
  content: "\ef92";
}
.sicon-localxpose:before {
  content: "\ef93";
}
.sicon-lodash:before {
  content: "\ef94";
}
.sicon-logmein:before {
  content: "\ef95";
}
.sicon-logseq:before {
  content: "\ef96";
}
.sicon-logstash:before {
  content: "\ef97";
}
.sicon-logitech:before {
  content: "\ef98";
}
.sicon-logitechg:before {
  content: "\ef99";
}
.sicon-looker:before {
  content: "\ef9a";
}
.sicon-loom:before {
  content: "\ef9b";
}
.sicon-loop:before {
  content: "\ef9c";
}
.sicon-loopback:before {
  content: "\ef9d";
}
.sicon-lootcrate:before {
  content: "\ef9e";
}
.sicon-lospec:before {
  content: "\ef9f";
}
.sicon-lotpolishairlines:before {
  content: "\efa0";
}
.sicon-lottiefiles:before {
  content: "\efa1";
}
.sicon-ltspice:before {
  content: "\efa2";
}
.sicon-lua:before {
  content: "\efa3";
}
.sicon-luau:before {
  content: "\efa4";
}
.sicon-lubuntu:before {
  content: "\efa5";
}
.sicon-lucia:before {
  content: "\efa6";
}
.sicon-lucid:before {
  content: "\efa7";
}
.sicon-lucide:before {
  content: "\efa8";
}
.sicon-ludwig:before {
  content: "\efa9";
}
.sicon-lufthansa:before {
  content: "\efaa";
}
.sicon-lumen:before {
  content: "\efab";
}
.sicon-lunacy:before {
  content: "\efac";
}
.sicon-luogu:before {
  content: "\efad";
}
.sicon-lutris:before {
  content: "\efae";
}
.sicon-lvgl:before {
  content: "\efaf";
}
.sicon-lydia:before {
  content: "\efb0";
}
.sicon-lyft:before {
  content: "\efb1";
}
.sicon-maas:before {
  content: "\efb2";
}
.sicon-macos:before {
  content: "\efb3";
}
.sicon-macpaw:before {
  content: "\efb4";
}
.sicon-macports:before {
  content: "\efb5";
}
.sicon-macys:before {
  content: "\efb6";
}
.sicon-magasinsu:before {
  content: "\efb7";
}
.sicon-magic:before {
  content: "\efb8";
}
.sicon-magisk:before {
  content: "\efb9";
}
.sicon-mahindra:before {
  content: "\efba";
}
.sicon-mailboxdotorg:before {
  content: "\efbb";
}
.sicon-mailchimp:before {
  content: "\efbc";
}
.sicon-maildotcom:before {
  content: "\efbd";
}
.sicon-maildotru:before {
  content: "\efbe";
}
.sicon-mailgun:before {
  content: "\efbf";
}
.sicon-mailtrap:before {
  content: "\efc0";
}
.sicon-mainwp:before {
  content: "\efc1";
}
.sicon-majorleaguehacking:before {
  content: "\efc2";
}
.sicon-make:before {
  content: "\efc3";
}
.sicon-makerbot:before {
  content: "\efc4";
}
.sicon-malt:before {
  content: "\efc5";
}
.sicon-malwarebytes:before {
  content: "\efc6";
}
.sicon-mambaui:before {
  content: "\efc7";
}
.sicon-mamp:before {
  content: "\efc8";
}
.sicon-man:before {
  content: "\efc9";
}
.sicon-manageiq:before {
  content: "\efca";
}
.sicon-manjaro:before {
  content: "\efcb";
}
.sicon-mantine:before {
  content: "\efcc";
}
.sicon-mangaupdates:before {
  content: "\efcd";
}
.sicon-mapbox:before {
  content: "\efce";
}
.sicon-mapillary:before {
  content: "\efcf";
}
.sicon-maplibre:before {
  content: "\efd0";
}
.sicon-maptiler:before {
  content: "\efd1";
}
.sicon-mariadb:before {
  content: "\efd2";
}
.sicon-mariadbfoundation:before {
  content: "\efd3";
}
.sicon-markdown:before {
  content: "\efd4";
}
.sicon-marko:before {
  content: "\efd5";
}
.sicon-marriott:before {
  content: "\efd6";
}
.sicon-marvelapp:before {
  content: "\efd7";
}
.sicon-maserati:before {
  content: "\efd8";
}
.sicon-mastercard:before {
  content: "\efd9";
}
.sicon-mastercomfig:before {
  content: "\efda";
}
.sicon-mastodon:before {
  content: "\efdb";
}
.sicon-materialdesign:before {
  content: "\efdc";
}
.sicon-materialdesignicons:before {
  content: "\efdd";
}
.sicon-materialformkdocs:before {
  content: "\efde";
}
.sicon-matillion:before {
  content: "\efdf";
}
.sicon-matomo:before {
  content: "\efe0";
}
.sicon-matterdotjs:before {
  content: "\efe1";
}
.sicon-mattermost:before {
  content: "\efe2";
}
.sicon-matternet:before {
  content: "\efe3";
}
.sicon-matrix:before {
  content: "\efe4";
}
.sicon-mautic:before {
  content: "\efe5";
}
.sicon-max:before {
  content: "\efe6";
}
.sicon-maxplanckgesellschaft:before {
  content: "\efe7";
}
.sicon-maytag:before {
  content: "\efe8";
}
.sicon-mazda:before {
  content: "\efe9";
}
.sicon-maze:before {
  content: "\efea";
}
.sicon-mcafee:before {
  content: "\efeb";
}
.sicon-mcdonalds:before {
  content: "\efec";
}
.sicon-mclaren:before {
  content: "\efed";
}
.sicon-mdbook:before {
  content: "\efee";
}
.sicon-mdnwebdocs:before {
  content: "\efef";
}
.sicon-mdx:before {
  content: "\eff0";
}
.sicon-mealie:before {
  content: "\eff1";
}
.sicon-mediafire:before {
  content: "\eff2";
}
.sicon-mediamarkt:before {
  content: "\eff3";
}
.sicon-mediapipe:before {
  content: "\eff4";
}
.sicon-mediatek:before {
  content: "\eff5";
}
.sicon-medibangpaint:before {
  content: "\eff6";
}
.sicon-medium:before {
  content: "\eff7";
}
.sicon-medusa:before {
  content: "\eff8";
}
.sicon-meetup:before {
  content: "\eff9";
}
.sicon-mega:before {
  content: "\effa";
}
.sicon-meilisearch:before {
  content: "\effb";
}
.sicon-meituan:before {
  content: "\effc";
}
.sicon-meizu:before {
  content: "\effd";
}
.sicon-mendeley:before {
  content: "\effe";
}
.sicon-mentorcruise:before {
  content: "\efff";
}
.sicon-mercadopago:before {
  content: "\f000";
}
.sicon-merck:before {
  content: "\f001";
}
.sicon-mercurial:before {
  content: "\f002";
}
.sicon-mermaid:before {
  content: "\f003";
}
.sicon-messenger:before {
  content: "\f004";
}
.sicon-meta:before {
  content: "\f005";
}
.sicon-metabase:before {
  content: "\f006";
}
.sicon-metacritic:before {
  content: "\f007";
}
.sicon-metafilter:before {
  content: "\f008";
}
.sicon-metager:before {
  content: "\f009";
}
.sicon-metasploit:before {
  content: "\f00a";
}
.sicon-meteor:before {
  content: "\f00b";
}
.sicon-metro:before {
  content: "\f00c";
}
.sicon-metrodelaciudaddemexico:before {
  content: "\f00d";
}
.sicon-metrodemadrid:before {
  content: "\f00e";
}
.sicon-metrodeparis:before {
  content: "\f00f";
}
.sicon-mewe:before {
  content: "\f010";
}
.sicon-mezmo:before {
  content: "\f011";
}
.sicon-mg:before {
  content: "\f012";
}
.sicon-microbit:before {
  content: "\f013";
}
.sicon-microdotblog:before {
  content: "\f014";
}
.sicon-microeditor:before {
  content: "\f015";
}
.sicon-micropython:before {
  content: "\f016";
}
.sicon-microstation:before {
  content: "\f017";
}
.sicon-microstrategy:before {
  content: "\f018";
}
.sicon-midi:before {
  content: "\f019";
}
.sicon-migadu:before {
  content: "\f01a";
}
.sicon-mihon:before {
  content: "\f01b";
}
.sicon-mihoyo:before {
  content: "\f01c";
}
.sicon-mikrotik:before {
  content: "\f01d";
}
.sicon-milanote:before {
  content: "\f01e";
}
.sicon-milvus:before {
  content: "\f01f";
}
.sicon-minds:before {
  content: "\f020";
}
.sicon-minetest:before {
  content: "\f021";
}
.sicon-mini:before {
  content: "\f022";
}
.sicon-minio:before {
  content: "\f023";
}
.sicon-mintlify:before {
  content: "\f024";
}
.sicon-minutemailer:before {
  content: "\f025";
}
.sicon-mingww64:before {
  content: "\f026";
}
.sicon-miraheze:before {
  content: "\f027";
}
.sicon-miro:before {
  content: "\f028";
}
.sicon-misskey:before {
  content: "\f029";
}
.sicon-mistralai:before {
  content: "\f02a";
}
.sicon-mitsubishi:before {
  content: "\f02b";
}
.sicon-mix:before {
  content: "\f02c";
}
.sicon-mixcloud:before {
  content: "\f02d";
}
.sicon-mixpanel:before {
  content: "\f02e";
}
.sicon-mlb:before {
  content: "\f02f";
}
.sicon-mlflow:before {
  content: "\f030";
}
.sicon-mobx:before {
  content: "\f031";
}
.sicon-mobxstatetree:before {
  content: "\f032";
}
.sicon-mockserviceworker:before {
  content: "\f033";
}
.sicon-mocha:before {
  content: "\f034";
}
.sicon-modal:before {
  content: "\f035";
}
.sicon-modelcontextprotocol:before {
  content: "\f036";
}
.sicon-modin:before {
  content: "\f037";
}
.sicon-modrinth:before {
  content: "\f038";
}
.sicon-modx:before {
  content: "\f039";
}
.sicon-mojeek:before {
  content: "\f03a";
}
.sicon-moleculer:before {
  content: "\f03b";
}
.sicon-momenteo:before {
  content: "\f03c";
}
.sicon-monero:before {
  content: "\f03d";
}
.sicon-moneygram:before {
  content: "\f03e";
}
.sicon-monica:before {
  content: "\f03f";
}
.sicon-monkeytie:before {
  content: "\f040";
}
.sicon-monkeytype:before {
  content: "\f041";
}
.sicon-monogame:before {
  content: "\f042";
}
.sicon-monoprix:before {
  content: "\f043";
}
.sicon-monster:before {
  content: "\f044";
}
.sicon-monzo:before {
  content: "\f045";
}
.sicon-mongodb:before {
  content: "\f046";
}
.sicon-mongoose:before {
  content: "\f047";
}
.sicon-mongoosedotws:before {
  content: "\f048";
}
.sicon-moo:before {
  content: "\f049";
}
.sicon-moodle:before {
  content: "\f04a";
}
.sicon-moonrepo:before {
  content: "\f04b";
}
.sicon-moq:before {
  content: "\f04c";
}
.sicon-moqups:before {
  content: "\f04d";
}
.sicon-morrisons:before {
  content: "\f04e";
}
.sicon-moscowmetro:before {
  content: "\f04f";
}
.sicon-motorola:before {
  content: "\f050";
}
.sicon-movistar:before {
  content: "\f051";
}
.sicon-mozilla:before {
  content: "\f052";
}
.sicon-mpv:before {
  content: "\f053";
}
.sicon-mqtt:before {
  content: "\f054";
}
.sicon-msi:before {
  content: "\f055";
}
.sicon-msibusiness:before {
  content: "\f056";
}
.sicon-mta:before {
  content: "\f057";
}
.sicon-mtr:before {
  content: "\f058";
}
.sicon-mubi:before {
  content: "\f059";
}
.sicon-mui:before {
  content: "\f05a";
}
.sicon-mulesoft:before {
  content: "\f05b";
}
.sicon-muller:before {
  content: "\f05c";
}
.sicon-mullvad:before {
  content: "\f05d";
}
.sicon-multisim:before {
  content: "\f05e";
}
.sicon-mumble:before {
  content: "\f05f";
}
.sicon-muo:before {
  content: "\f060";
}
.sicon-mural:before {
  content: "\f061";
}
.sicon-musescore:before {
  content: "\f062";
}
.sicon-musicbrainz:before {
  content: "\f063";
}
.sicon-mxlinux:before {
  content: "\f064";
}
.sicon-myanimelist:before {
  content: "\f065";
}
.sicon-myget:before {
  content: "\f066";
}
.sicon-myob:before {
  content: "\f067";
}
.sicon-myshows:before {
  content: "\f068";
}
.sicon-myspace:before {
  content: "\f069";
}
.sicon-mysql:before {
  content: "\f06a";
}
.sicon-n8n:before {
  content: "\f06b";
}
.sicon-n26:before {
  content: "\f06c";
}
.sicon-namebase:before {
  content: "\f06d";
}
.sicon-namecheap:before {
  content: "\f06e";
}
.sicon-namemc:before {
  content: "\f06f";
}
.sicon-namesilo:before {
  content: "\f070";
}
.sicon-namuwiki:before {
  content: "\f071";
}
.sicon-nano:before {
  content: "\f072";
}
.sicon-nanostores:before {
  content: "\f073";
}
.sicon-napster:before {
  content: "\f074";
}
.sicon-nasa:before {
  content: "\f075";
}
.sicon-nationalgrid:before {
  content: "\f076";
}
.sicon-nationalrail:before {
  content: "\f077";
}
.sicon-nativescript:before {
  content: "\f078";
}
.sicon-natsdotio:before {
  content: "\f079";
}
.sicon-naver:before {
  content: "\f07a";
}
.sicon-nba:before {
  content: "\f07b";
}
.sicon-nbb:before {
  content: "\f07c";
}
.sicon-nbc:before {
  content: "\f07d";
}
.sicon-ndr:before {
  content: "\f07e";
}
.sicon-near:before {
  content: "\f07f";
}
.sicon-nebula:before {
  content: "\f080";
}
.sicon-nec:before {
  content: "\f081";
}
.sicon-nederlandsespoorwegen:before {
  content: "\f082";
}
.sicon-neo4j:before {
  content: "\f083";
}
.sicon-neovim:before {
  content: "\f084";
}
.sicon-neptune:before {
  content: "\f085";
}
.sicon-nestjs:before {
  content: "\f086";
}
.sicon-netapp:before {
  content: "\f087";
}
.sicon-netbsd:before {
  content: "\f088";
}
.sicon-netcup:before {
  content: "\f089";
}
.sicon-netdata:before {
  content: "\f08a";
}
.sicon-neteasecloudmusic:before {
  content: "\f08b";
}
.sicon-netflix:before {
  content: "\f08c";
}
.sicon-netgear:before {
  content: "\f08d";
}
.sicon-netim:before {
  content: "\f08e";
}
.sicon-netlify:before {
  content: "\f08f";
}
.sicon-nette:before {
  content: "\f090";
}
.sicon-netto:before {
  content: "\f091";
}
.sicon-neutralinojs:before {
  content: "\f092";
}
.sicon-newbalance:before {
  content: "\f093";
}
.sicon-newegg:before {
  content: "\f094";
}
.sicon-newjapanprowrestling:before {
  content: "\f095";
}
.sicon-newpipe:before {
  content: "\f096";
}
.sicon-newrelic:before {
  content: "\f097";
}
.sicon-newyorktimes:before {
  content: "\f098";
}
.sicon-nexon:before {
  content: "\f099";
}
.sicon-nextbike:before {
  content: "\f09a";
}
.sicon-nextbilliondotai:before {
  content: "\f09b";
}
.sicon-nextcloud:before {
  content: "\f09c";
}
.sicon-nextdns:before {
  content: "\f09d";
}
.sicon-nextdoor:before {
  content: "\f09e";
}
.sicon-nextdotjs:before {
  content: "\f09f";
}
.sicon-nextflow:before {
  content: "\f0a0";
}
.sicon-nextra:before {
  content: "\f0a1";
}
.sicon-nexusmods:before {
  content: "\f0a2";
}
.sicon-nfc:before {
  content: "\f0a3";
}
.sicon-nfcore:before {
  content: "\f0a4";
}
.sicon-nicehash:before {
  content: "\f0a5";
}
.sicon-niconico:before {
  content: "\f0a6";
}
.sicon-nike:before {
  content: "\f0a7";
}
.sicon-nikon:before {
  content: "\f0a8";
}
.sicon-nim:before {
  content: "\f0a9";
}
.sicon-nissan:before {
  content: "\f0aa";
}
.sicon-nixos:before {
  content: "\f0ab";
}
.sicon-nobaralinux:before {
  content: "\f0ac";
}
.sicon-nodebb:before {
  content: "\f0ad";
}
.sicon-nodedotjs:before {
  content: "\f0ae";
}
.sicon-nodemon:before {
  content: "\f0af";
}
.sicon-nodered:before {
  content: "\f0b0";
}
.sicon-nokia:before {
  content: "\f0b1";
}
.sicon-nomad:before {
  content: "\f0b2";
}
.sicon-norco:before {
  content: "\f0b3";
}
.sicon-nordicsemiconductor:before {
  content: "\f0b4";
}
.sicon-nordvpn:before {
  content: "\f0b5";
}
.sicon-normalizedotcss:before {
  content: "\f0b6";
}
.sicon-norton:before {
  content: "\f0b7";
}
.sicon-norwegian:before {
  content: "\f0b8";
}
.sicon-note:before {
  content: "\f0b9";
}
.sicon-notebooklm:before {
  content: "\f0ba";
}
.sicon-notepadplusplus:before {
  content: "\f0bb";
}
.sicon-notion:before {
  content: "\f0bc";
}
.sicon-notist:before {
  content: "\f0bd";
}
.sicon-nounproject:before {
  content: "\f0be";
}
.sicon-novu:before {
  content: "\f0bf";
}
.sicon-now:before {
  content: "\f0c0";
}
.sicon-npm:before {
  content: "\f0c1";
}
.sicon-nrwl:before {
  content: "\f0c2";
}
.sicon-nsis:before {
  content: "\f0c3";
}
.sicon-ntfy:before {
  content: "\f0c4";
}
.sicon-nubank:before {
  content: "\f0c5";
}
.sicon-nucleo:before {
  content: "\f0c6";
}
.sicon-nuget:before {
  content: "\f0c7";
}
.sicon-nuke:before {
  content: "\f0c8";
}
.sicon-numba:before {
  content: "\f0c9";
}
.sicon-numpy:before {
  content: "\f0ca";
}
.sicon-nunjucks:before {
  content: "\f0cb";
}
.sicon-nushell:before {
  content: "\f0cc";
}
.sicon-nutanix:before {
  content: "\f0cd";
}
.sicon-nuxt:before {
  content: "\f0ce";
}
.sicon-nvidia:before {
  content: "\f0cf";
}
.sicon-nvm:before {
  content: "\f0d0";
}
.sicon-nx:before {
  content: "\f0d1";
}
.sicon-nxp:before {
  content: "\f0d2";
}
.sicon-nzxt:before {
  content: "\f0d3";
}
.sicon-nginx:before {
  content: "\f0d4";
}
.sicon-nginxproxymanager:before {
  content: "\f0d5";
}
.sicon-ngrok:before {
  content: "\f0d6";
}
.sicon-ngrx:before {
  content: "\f0d7";
}
.sicon-nhl:before {
  content: "\f0d8";
}
.sicon-nhost:before {
  content: "\f0d9";
}
.sicon-o2:before {
  content: "\f0da";
}
.sicon-obb:before {
  content: "\f0db";
}
.sicon-observable:before {
  content: "\f0dc";
}
.sicon-obsidian:before {
  content: "\f0dd";
}
.sicon-obsstudio:before {
  content: "\f0de";
}
.sicon-obtainium:before {
  content: "\f0df";
}
.sicon-ocaml:before {
  content: "\f0e0";
}
.sicon-oclc:before {
  content: "\f0e1";
}
.sicon-oclif:before {
  content: "\f0e2";
}
.sicon-octanerender:before {
  content: "\f0e3";
}
.sicon-octave:before {
  content: "\f0e4";
}
.sicon-octobercms:before {
  content: "\f0e5";
}
.sicon-octoprint:before {
  content: "\f0e6";
}
.sicon-octopusdeploy:before {
  content: "\f0e7";
}
.sicon-oculus:before {
  content: "\f0e8";
}
.sicon-odin:before {
  content: "\f0e9";
}
.sicon-odnoklassniki:before {
  content: "\f0ea";
}
.sicon-odoo:before {
  content: "\f0eb";
}
.sicon-odysee:before {
  content: "\f0ec";
}
.sicon-ohdear:before {
  content: "\f0ed";
}
.sicon-okcupid:before {
  content: "\f0ee";
}
.sicon-okta:before {
  content: "\f0ef";
}
.sicon-okx:before {
  content: "\f0f0";
}
.sicon-ollama:before {
  content: "\f0f1";
}
.sicon-omadacloud:before {
  content: "\f0f2";
}
.sicon-oneplus:before {
  content: "\f0f3";
}
.sicon-onestream:before {
  content: "\f0f4";
}
.sicon-onlyfans:before {
  content: "\f0f5";
}
.sicon-onlyoffice:before {
  content: "\f0f6";
}
.sicon-onnx:before {
  content: "\f0f7";
}
.sicon-onstar:before {
  content: "\f0f8";
}
.sicon-opel:before {
  content: "\f0f9";
}
.sicon-open3d:before {
  content: "\f0fa";
}
.sicon-openaccess:before {
  content: "\f0fb";
}
.sicon-openai:before {
  content: "\f0fc";
}
.sicon-openaigym:before {
  content: "\f0fd";
}
.sicon-openapiinitiative:before {
  content: "\f0fe";
}
.sicon-openbadges:before {
  content: "\f0ff";
}
.sicon-openbsd:before {
  content: "\f100";
}
.sicon-openbugbounty:before {
  content: "\f101";
}
.sicon-opencollective:before {
  content: "\f102";
}
.sicon-opencontainersinitiative:before {
  content: "\f103";
}
.sicon-opencritic:before {
  content: "\f104";
}
.sicon-opencv:before {
  content: "\f105";
}
.sicon-openfaas:before {
  content: "\f106";
}
.sicon-openid:before {
  content: "\f107";
}
.sicon-openjdk:before {
  content: "\f108";
}
.sicon-openjsfoundation:before {
  content: "\f109";
}
.sicon-openlayers:before {
  content: "\f10a";
}
.sicon-openmediavault:before {
  content: "\f10b";
}
.sicon-openmined:before {
  content: "\f10c";
}
.sicon-opennebula:before {
  content: "\f10d";
}
.sicon-openproject:before {
  content: "\f10e";
}
.sicon-openscad:before {
  content: "\f10f";
}
.sicon-opensea:before {
  content: "\f110";
}
.sicon-opensearch:before {
  content: "\f111";
}
.sicon-opensourcehardware:before {
  content: "\f112";
}
.sicon-opensourceinitiative:before {
  content: "\f113";
}
.sicon-openssl:before {
  content: "\f114";
}
.sicon-openstack:before {
  content: "\f115";
}
.sicon-openstreetmap:before {
  content: "\f116";
}
.sicon-opensuse:before {
  content: "\f117";
}
.sicon-opentelemetry:before {
  content: "\f118";
}
.sicon-opentext:before {
  content: "\f119";
}
.sicon-opentofu:before {
  content: "\f11a";
}
.sicon-openverse:before {
  content: "\f11b";
}
.sicon-openvpn:before {
  content: "\f11c";
}
.sicon-openwrt:before {
  content: "\f11d";
}
.sicon-openzeppelin:before {
  content: "\f11e";
}
.sicon-openzfs:before {
  content: "\f11f";
}
.sicon-opengl:before {
  content: "\f120";
}
.sicon-openhab:before {
  content: "\f121";
}
.sicon-opera:before {
  content: "\f122";
}
.sicon-operagx:before {
  content: "\f123";
}
.sicon-opnsense:before {
  content: "\f124";
}
.sicon-oppo:before {
  content: "\f125";
}
.sicon-opsgenie:before {
  content: "\f126";
}
.sicon-opslevel:before {
  content: "\f127";
}
.sicon-optimism:before {
  content: "\f128";
}
.sicon-optuna:before {
  content: "\f129";
}
.sicon-orange:before {
  content: "\f12a";
}
.sicon-orcid:before {
  content: "\f12b";
}
.sicon-oreilly:before {
  content: "\f12c";
}
.sicon-org:before {
  content: "\f12d";
}
.sicon-organicmaps:before {
  content: "\f12e";
}
.sicon-origin:before {
  content: "\f12f";
}
.sicon-osano:before {
  content: "\f130";
}
.sicon-osf:before {
  content: "\f131";
}
.sicon-osgeo:before {
  content: "\f132";
}
.sicon-oshkosh:before {
  content: "\f133";
}
.sicon-osmand:before {
  content: "\f134";
}
.sicon-osmc:before {
  content: "\f135";
}
.sicon-osu:before {
  content: "\f136";
}
.sicon-otto:before {
  content: "\f137";
}
.sicon-outline:before {
  content: "\f138";
}
.sicon-overcast:before {
  content: "\f139";
}
.sicon-overleaf:before {
  content: "\f13a";
}
.sicon-ovh:before {
  content: "\f13b";
}
.sicon-owasp:before {
  content: "\f13c";
}
.sicon-owncloud:before {
  content: "\f13d";
}
.sicon-oxc:before {
  content: "\f13e";
}
.sicon-oxygen:before {
  content: "\f13f";
}
.sicon-oyo:before {
  content: "\f140";
}
