@font-face {
  font-family: 'batch1';
  src:  url('fonts/batch1.eot?n55q2');
  src:  url('fonts/batch1.eot?n55q2#iefix') format('embedded-opentype'),
    url('fonts/batch1.ttf?n55q2') format('truetype'),
    url('fonts/batch1.woff?n55q2') format('woff'),
    url('fonts/batch1.svg?n55q2#batch1') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="sicon-"], [class*=" sicon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'batch1' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sicon-and1:before {
  content: "\e900";
}
.sicon-dot1dot1dot1:before {
  content: "\e901";
}
.sicon-panel:before {
  content: "\e902";
}
.sicon-password:before {
  content: "\e903";
}
.sicon-fas:before {
  content: "\e904";
}
.sicon-k:before {
  content: "\e905";
}
.sicon-m:before {
  content: "\e906";
}
.sicon-chan:before {
  content: "\e907";
}
.sicon-d:before {
  content: "\e908";
}
.sicon-zip:before {
  content: "\e909";
}
.sicon-gag:before {
  content: "\e90a";
}
.sicon-secondsofcode:before {
  content: "\e90b";
}
.sicon-42:before {
  content: "\e90c";
}
.sicon-designs:before {
  content: "\e90d";
}
.sicon-datascience:before {
  content: "\e90e";
}
.sicon-px:before {
  content: "\e90f";
}
.sicon-tracklists:before {
  content: "\e910";
}
.sicon-abb:before {
  content: "\e911";
}
.sicon-abbott:before {
  content: "\e912";
}
.sicon-abbvie:before {
  content: "\e913";
}
.sicon-abdownloadmanager:before {
  content: "\e914";
}
.sicon-aboutdotme:before {
  content: "\e915";
}
.sicon-abstract:before {
  content: "\e916";
}
.sicon-abusedotch:before {
  content: "\e917";
}
.sicon-academia:before {
  content: "\e918";
}
.sicon-accenture:before {
  content: "\e919";
}
.sicon-accusoft:before {
  content: "\e91a";
}
.sicon-accuweather:before {
  content: "\e91b";
}
.sicon-acer:before {
  content: "\e91c";
}
.sicon-acm:before {
  content: "\e91d";
}
.sicon-actigraph:before {
  content: "\e91e";
}
.sicon-activeloop:before {
  content: "\e91f";
}
.sicon-activision:before {
  content: "\e920";
}
.sicon-activitypub:before {
  content: "\e921";
}
.sicon-actix:before {
  content: "\e922";
}
.sicon-actualbudget:before {
  content: "\e923";
}
.sicon-acura:before {
  content: "\e924";
}
.sicon-ada:before {
  content: "\e925";
}
.sicon-adafruit:before {
  content: "\e926";
}
.sicon-adaway:before {
  content: "\e927";
}
.sicon-adblock:before {
  content: "\e928";
}
.sicon-adblockplus:before {
  content: "\e929";
}
.sicon-addydotio:before {
  content: "\e92a";
}
.sicon-adguard:before {
  content: "\e92b";
}
.sicon-adidas:before {
  content: "\e92c";
}
.sicon-adminer:before {
  content: "\e92d";
}
.sicon-adonisjs:before {
  content: "\e92e";
}
.sicon-adp:before {
  content: "\e92f";
}
.sicon-adroll:before {
  content: "\e930";
}
.sicon-adventofcode:before {
  content: "\e931";
}
.sicon-adyen:before {
  content: "\e932";
}
.sicon-aegisauthenticator:before {
  content: "\e933";
}
.sicon-aerlingus:before {
  content: "\e934";
}
.sicon-aeroflot:before {
  content: "\e935";
}
.sicon-aeromexico:before {
  content: "\e936";
}
.sicon-aerospike:before {
  content: "\e937";
}
.sicon-aew:before {
  content: "\e938";
}
.sicon-afdian:before {
  content: "\e939";
}
.sicon-affine:before {
  content: "\e93a";
}
.sicon-affinity:before {
  content: "\e93b";
}
.sicon-affinitydesigner:before {
  content: "\e93c";
}
.sicon-affinitypublisher:before {
  content: "\e93d";
}
.sicon-affinityphoto:before {
  content: "\e93e";
}
.sicon-aframe:before {
  content: "\e93f";
}
.sicon-afterpay:before {
  content: "\e940";
}
.sicon-aftership:before {
  content: "\e941";
}
.sicon-agora:before {
  content: "\e942";
}
.sicon-aib:before {
  content: "\e943";
}
.sicon-aidungeon:before {
  content: "\e944";
}
.sicon-aiohttp:before {
  content: "\e945";
}
.sicon-aiqfome:before {
  content: "\e946";
}
.sicon-airasia:before {
  content: "\e947";
}
.sicon-airbnb:before {
  content: "\e948";
}
.sicon-airbrake:before {
  content: "\e949";
}
.sicon-airbus:before {
  content: "\e94a";
}
.sicon-airbyte:before {
  content: "\e94b";
}
.sicon-aircall:before {
  content: "\e94c";
}
.sicon-aircanada:before {
  content: "\e94d";
}
.sicon-airchina:before {
  content: "\e94e";
}
.sicon-airfrance:before {
  content: "\e94f";
}
.sicon-airindia:before {
  content: "\e950";
}
.sicon-airplayaudio:before {
  content: "\e951";
}
.sicon-airplayvideo:before {
  content: "\e952";
}
.sicon-airserbia:before {
  content: "\e953";
}
.sicon-airtable:before {
  content: "\e954";
}
.sicon-airtel:before {
  content: "\e955";
}
.sicon-airtransat:before {
  content: "\e956";
}
.sicon-ajv:before {
  content: "\e957";
}
.sicon-akamai:before {
  content: "\e958";
}
.sicon-akasaair:before {
  content: "\e959";
}
.sicon-akaunting:before {
  content: "\e95a";
}
.sicon-akiflow:before {
  content: "\e95b";
}
.sicon-alacritty:before {
  content: "\e95c";
}
.sicon-alamy:before {
  content: "\e95d";
}
.sicon-albertheijn:before {
  content: "\e95e";
}
.sicon-alby:before {
  content: "\e95f";
}
.sicon-alchemy:before {
  content: "\e960";
}
.sicon-aldinord:before {
  content: "\e961";
}
.sicon-aldisud:before {
  content: "\e962";
}
.sicon-alfaromeo:before {
  content: "\e963";
}
.sicon-alfred:before {
  content: "\e964";
}
.sicon-algolia:before {
  content: "\e965";
}
.sicon-algorand:before {
  content: "\e966";
}
.sicon-alibabacloud:before {
  content: "\e967";
}
.sicon-alibabadotcom:before {
  content: "\e968";
}
.sicon-alienware:before {
  content: "\e969";
}
.sicon-aliexpress:before {
  content: "\e96a";
}
.sicon-alipay:before {
  content: "\e96b";
}
.sicon-alist:before {
  content: "\e96c";
}
.sicon-allegro:before {
  content: "\e96d";
}
.sicon-alliedmodders:before {
  content: "\e96e";
}
.sicon-allocine:before {
  content: "\e96f";
}
.sicon-alltrails:before {
  content: "\e970";
}
.sicon-almalinux:before {
  content: "\e971";
}
.sicon-alpinedotjs:before {
  content: "\e972";
}
.sicon-alpinelinux:before {
  content: "\e973";
}
.sicon-alternativeto:before {
  content: "\e974";
}
.sicon-alteryx:before {
  content: "\e975";
}
.sicon-altiumdesigner:before {
  content: "\e976";
}
.sicon-alwaysdata:before {
  content: "\e977";
}
.sicon-alx:before {
  content: "\e978";
}
.sicon-amd:before {
  content: "\e979";
}
.sicon-ameba:before {
  content: "\e97a";
}
.sicon-americanairlines:before {
  content: "\e97b";
}
.sicon-americanexpress:before {
  content: "\e97c";
}
.sicon-amg:before {
  content: "\e97d";
}
.sicon-amp:before {
  content: "\e97e";
}
.sicon-amul:before {
  content: "\e97f";
}
.sicon-ana:before {
  content: "\e980";
}
.sicon-anaconda:before {
  content: "\e981";
}
.sicon-analogue:before {
  content: "\e982";
}
.sicon-andela:before {
  content: "\e983";
}
.sicon-android:before {
  content: "\e984";
}
.sicon-androidauto:before {
  content: "\e985";
}
.sicon-androidstudio:before {
  content: "\e986";
}
.sicon-anilist:before {
  content: "\e987";
}
.sicon-animalplanet:before {
  content: "\e988";
}
.sicon-animedotjs:before {
  content: "\e989";
}
.sicon-ankermake:before {
  content: "\e98a";
}
.sicon-anki:before {
  content: "\e98b";
}
.sicon-ansible:before {
  content: "\e98c";
}
.sicon-answer:before {
  content: "\e98d";
}
.sicon-ansys:before {
  content: "\e98e";
}
.sicon-anta:before {
  content: "\e98f";
}
.sicon-antdesign:before {
  content: "\e990";
}
.sicon-antena3:before {
  content: "\e991";
}
.sicon-antennapod:before {
  content: "\e992";
}
.sicon-antv:before {
  content: "\e993";
}
.sicon-anthropic:before {
  content: "\e994";
}
.sicon-anycubic:before {
  content: "\e995";
}
.sicon-anydesk:before {
  content: "\e996";
}
.sicon-anytype:before {
  content: "\e997";
}
.sicon-angular:before {
  content: "\e998";
}
.sicon-apache:before {
  content: "\e999";
}
.sicon-apacheairflow:before {
  content: "\e99a";
}
.sicon-apacheant:before {
  content: "\e99b";
}
.sicon-apacheavro:before {
  content: "\e99c";
}
.sicon-apachecassandra:before {
  content: "\e99d";
}
.sicon-apachecloudstack:before {
  content: "\e99e";
}
.sicon-apachecordova:before {
  content: "\e99f";
}
.sicon-apachecouchdb:before {
  content: "\e9a0";
}
.sicon-apachedolphinscheduler:before {
  content: "\e9a1";
}
.sicon-apachedoris:before {
  content: "\e9a2";
}
.sicon-apachedruid:before {
  content: "\e9a3";
}
.sicon-apacheecharts:before {
  content: "\e9a4";
}
.sicon-apacheflink:before {
  content: "\e9a5";
}
.sicon-apachefreemarker:before {
  content: "\e9a6";
}
.sicon-apachegroovy:before {
  content: "\e9a7";
}
.sicon-apacheguacamole:before {
  content: "\e9a8";
}
.sicon-apachehadoop:before {
  content: "\e9a9";
}
.sicon-apachehbase:before {
  content: "\e9aa";
}
.sicon-apachehive:before {
  content: "\e9ab";
}
.sicon-apachejmeter:before {
  content: "\e9ac";
}
.sicon-apachekafka:before {
  content: "\e9ad";
}
.sicon-apachekylin:before {
  content: "\e9ae";
}
.sicon-apachelucene:before {
  content: "\e9af";
}
.sicon-apachemaven:before {
  content: "\e9b0";
}
.sicon-apachenetbeanside:before {
  content: "\e9b1";
}
.sicon-apachenifi:before {
  content: "\e9b2";
}
.sicon-apacheopenoffice:before {
  content: "\e9b3";
}
.sicon-apacheparquet:before {
  content: "\e9b4";
}
.sicon-apachepulsar:before {
  content: "\e9b5";
}
.sicon-apacherocketmq:before {
  content: "\e9b6";
}
.sicon-apachesolr:before {
  content: "\e9b7";
}
.sicon-apachespark:before {
  content: "\e9b8";
}
.sicon-apachestorm:before {
  content: "\e9b9";
}
.sicon-apachesuperset:before {
  content: "\e9ba";
}
.sicon-apachetomcat:before {
  content: "\e9bb";
}
.sicon-aparat:before {
  content: "\e9bc";
}
.sicon-apifox:before {
  content: "\e9bd";
}
.sicon-apmterminals:before {
  content: "\e9be";
}
.sicon-apollographql:before {
  content: "\e9bf";
}
.sicon-apostrophe:before {
  content: "\e9c0";
}
.sicon-appgallery:before {
  content: "\e9c1";
}
.sicon-appian:before {
  content: "\e9c2";
}
.sicon-appium:before {
  content: "\e9c3";
}
.sicon-apple:before {
  content: "\e9c4";
}
.sicon-applearcade:before {
  content: "\e9c5";
}
.sicon-applemusic:before {
  content: "\e9c6";
}
.sicon-applenews:before {
  content: "\e9c7";
}
.sicon-applepay:before {
  content: "\e9c8";
}
.sicon-applepodcasts:before {
  content: "\e9c9";
}
.sicon-appletv:before {
  content: "\e9ca";
}
.sicon-appsignal:before {
  content: "\e9cb";
}
.sicon-appsmith:before {
  content: "\e9cc";
}
.sicon-appstore:before {
  content: "\e9cd";
}
.sicon-appveyor:before {
  content: "\e9ce";
}
.sicon-appwrite:before {
  content: "\e9cf";
}
.sicon-aqua:before {
  content: "\e9d0";
}
.sicon-aral:before {
  content: "\e9d1";
}
.sicon-arangodb:before {
  content: "\e9d2";
}
.sicon-arc:before {
  content: "\e9d3";
}
.sicon-arcgis:before {
  content: "\e9d4";
}
.sicon-archicad:before {
  content: "\e9d5";
}
.sicon-archiveofourown:before {
  content: "\e9d6";
}
.sicon-archlinux:before {
  content: "\e9d7";
}
.sicon-ardour:before {
  content: "\e9d8";
}
.sicon-arduino:before {
  content: "\e9d9";
}
.sicon-argo:before {
  content: "\e9da";
}
.sicon-argos:before {
  content: "\e9db";
}
.sicon-ariakit:before {
  content: "\e9dc";
}
.sicon-arkecosystem:before {
  content: "\e9dd";
}
.sicon-arlo:before {
  content: "\e9de";
}
.sicon-arm:before {
  content: "\e9df";
}
.sicon-armkeil:before {
  content: "\e9e0";
}
.sicon-arstechnica:before {
  content: "\e9e1";
}
.sicon-artifacthub:before {
  content: "\e9e2";
}
.sicon-artixlinux:before {
  content: "\e9e3";
}
.sicon-artstation:before {
  content: "\e9e4";
}
.sicon-arxiv:before {
  content: "\e9e5";
}
.sicon-asahilinux:before {
  content: "\e9e6";
}
.sicon-asana:before {
  content: "\e9e7";
}
.sicon-asciidoctor:before {
  content: "\e9e8";
}
.sicon-asciinema:before {
  content: "\e9e9";
}
.sicon-asda:before {
  content: "\e9ea";
}
.sicon-aseprite:before {
  content: "\e9eb";
}
.sicon-assemblyscript:before {
  content: "\e9ec";
}
.sicon-asterisk:before {
  content: "\e9ed";
}
.sicon-astonmartin:before {
  content: "\e9ee";
}
.sicon-astra:before {
  content: "\e9ef";
}
.sicon-astral:before {
  content: "\e9f0";
}
.sicon-astro:before {
  content: "\e9f1";
}
.sicon-asus:before {
  content: "\e9f2";
}
.sicon-atandt:before {
  content: "\e9f3";
}
.sicon-atari:before {
  content: "\e9f4";
}
.sicon-atlasos:before {
  content: "\e9f5";
}
.sicon-atlassian:before {
  content: "\e9f6";
}
.sicon-auchan:before {
  content: "\e9f7";
}
.sicon-audacity:before {
  content: "\e9f8";
}
.sicon-audi:before {
  content: "\e9f9";
}
.sicon-audible:before {
  content: "\e9fa";
}
.sicon-audiobookshelf:before {
  content: "\e9fb";
}
.sicon-audioboom:before {
  content: "\e9fc";
}
.sicon-audiomack:before {
  content: "\e9fd";
}
.sicon-audiotechnica:before {
  content: "\e9fe";
}
.sicon-aurelia:before {
  content: "\e9ff";
}
.sicon-autocad:before {
  content: "\ea00";
}
.sicon-autocannon:before {
  content: "\ea01";
}
.sicon-autodesk:before {
  content: "\ea02";
}
.sicon-autodeskmaya:before {
  content: "\ea03";
}
.sicon-autodeskrevit:before {
  content: "\ea04";
}
.sicon-autohotkey:before {
  content: "\ea05";
}
.sicon-autoit:before {
  content: "\ea06";
}
.sicon-automattic:before {
  content: "\ea07";
}
.sicon-autoprefixer:before {
  content: "\ea08";
}
.sicon-autozone:before {
  content: "\ea09";
}
.sicon-auth0:before {
  content: "\ea0a";
}
.sicon-authelia:before {
  content: "\ea0b";
}
.sicon-authentik:before {
  content: "\ea0c";
}
.sicon-authy:before {
  content: "\ea0d";
}
.sicon-avajs:before {
  content: "\ea0e";
}
.sicon-avaloniaui:before {
  content: "\ea0f";
}
.sicon-avast:before {
  content: "\ea10";
}
.sicon-avianca:before {
  content: "\ea11";
}
.sicon-avira:before {
  content: "\ea12";
}
.sicon-avm:before {
  content: "\ea13";
}
.sicon-awesomelists:before {
  content: "\ea14";
}
.sicon-awesomewm:before {
  content: "\ea15";
}
.sicon-awwwards:before {
  content: "\ea16";
}
.sicon-axios:before {
  content: "\ea17";
}
.sicon-axisbank:before {
  content: "\ea18";
}
.sicon-babel:before {
  content: "\ea19";
}
.sicon-babelio:before {
  content: "\ea1a";
}
.sicon-babylondotjs:before {
  content: "\ea1b";
}
.sicon-backblaze:before {
  content: "\ea1c";
}
.sicon-backbone:before {
  content: "\ea1d";
}
.sicon-backbonedotjs:before {
  content: "\ea1e";
}
.sicon-backendless:before {
  content: "\ea1f";
}
.sicon-backstage:before {
  content: "\ea20";
}
.sicon-backstage_casting:before {
  content: "\ea21";
}
.sicon-badoo:before {
  content: "\ea22";
}
.sicon-baidu:before {
  content: "\ea23";
}
.sicon-bakalari:before {
  content: "\ea24";
}
.sicon-bamboo:before {
  content: "\ea25";
}
.sicon-bambulab:before {
  content: "\ea26";
}
.sicon-bandcamp:before {
  content: "\ea27";
}
.sicon-bandlab:before {
  content: "\ea28";
}
.sicon-bandrautomation:before {
  content: "\ea29";
}
.sicon-bandsintown:before {
  content: "\ea2a";
}
.sicon-bankofamerica:before {
  content: "\ea2b";
}
.sicon-barclays:before {
  content: "\ea2c";
}
.sicon-baremetrics:before {
  content: "\ea2d";
}
.sicon-barmenia:before {
  content: "\ea2e";
}
.sicon-basecamp:before {
  content: "\ea2f";
}
.sicon-baserow:before {
  content: "\ea30";
}
.sicon-basicattentiontoken:before {
  content: "\ea31";
}
.sicon-bastyon:before {
  content: "\ea32";
}
.sicon-bat:before {
  content: "\ea33";
}
.sicon-bata:before {
  content: "\ea34";
}
.sicon-battledotnet:before {
  content: "\ea35";
}
.sicon-bazel:before {
  content: "\ea36";
}
.sicon-beatport:before {
  content: "\ea37";
}
.sicon-beats:before {
  content: "\ea38";
}
.sicon-beatsbydre:before {
  content: "\ea39";
}
.sicon-beatstars:before {
  content: "\ea3a";
}
.sicon-beekeeperstudio:before {
  content: "\ea3b";
}
.sicon-behance:before {
  content: "\ea3c";
}
.sicon-beijingsubway:before {
  content: "\ea3d";
}
.sicon-bem:before {
  content: "\ea3e";
}
.sicon-bentley:before {
  content: "\ea3f";
}
.sicon-bento:before {
  content: "\ea40";
}
.sicon-bentobox:before {
  content: "\ea41";
}
.sicon-bentoml:before {
  content: "\ea42";
}
.sicon-bereal:before {
  content: "\ea43";
}
.sicon-betfair:before {
  content: "\ea44";
}
.sicon-betterauth:before {
  content: "\ea45";
}
.sicon-betterdiscord:before {
  content: "\ea46";
}
.sicon-betterstack:before {
  content: "\ea47";
}
.sicon-bevy:before {
  content: "\ea48";
}
.sicon-bigbasket:before {
  content: "\ea49";
}
.sicon-bigbluebutton:before {
  content: "\ea4a";
}
.sicon-bigcartel:before {
  content: "\ea4b";
}
.sicon-bigcommerce:before {
  content: "\ea4c";
}
.sicon-bilibili:before {
  content: "\ea4d";
}
.sicon-billboard:before {
  content: "\ea4e";
}
.sicon-bim:before {
  content: "\ea4f";
}
.sicon-binance:before {
  content: "\ea50";
}
.sicon-biolink:before {
  content: "\ea51";
}
.sicon-biome:before {
  content: "\ea52";
}
.sicon-bisecthosting:before {
  content: "\ea53";
}
.sicon-bit:before {
  content: "\ea54";
}
.sicon-bitbucket:before {
  content: "\ea55";
}
.sicon-bitcoin:before {
  content: "\ea56";
}
.sicon-bitcoincash:before {
  content: "\ea57";
}
.sicon-bitcoinsv:before {
  content: "\ea58";
}
.sicon-bitcomet:before {
  content: "\ea59";
}
.sicon-bitdefender:before {
  content: "\ea5a";
}
.sicon-bitly:before {
  content: "\ea5b";
}
.sicon-bittorrent:before {
  content: "\ea5c";
}
.sicon-bitwarden:before {
  content: "\ea5d";
}
.sicon-bitwig:before {
  content: "\ea5e";
}
.sicon-bitrise:before {
  content: "\ea5f";
}
.sicon-black:before {
  content: "\ea60";
}
.sicon-blackberry:before {
  content: "\ea61";
}
.sicon-blackmagicdesign:before {
  content: "\ea62";
}
.sicon-blazemeter:before {
  content: "\ea63";
}
.sicon-blazor:before {
  content: "\ea64";
}
.sicon-blender:before {
  content: "\ea65";
}
.sicon-blibli:before {
  content: "\ea66";
}
.sicon-blockbench:before {
  content: "\ea67";
}
.sicon-blockchaindotcom:before {
  content: "\ea68";
}
.sicon-blogger:before {
  content: "\ea69";
}
.sicon-bloglovin:before {
  content: "\ea6a";
}
.sicon-blueprint:before {
  content: "\ea6b";
}
.sicon-bluesky:before {
  content: "\ea6c";
}
.sicon-bluesound:before {
  content: "\ea6d";
}
.sicon-bluetooth:before {
  content: "\ea6e";
}
.sicon-bmcsoftware:before {
  content: "\ea6f";
}
.sicon-bmw:before {
  content: "\ea70";
}
.sicon-bnbchain:before {
  content: "\ea71";
}
.sicon-boardgamegeek:before {
  content: "\ea72";
}
.sicon-boat:before {
  content: "\ea73";
}
.sicon-boehringeringelheim:before {
  content: "\ea74";
}
.sicon-boeing:before {
  content: "\ea75";
}
.sicon-bohemiainteractive:before {
  content: "\ea76";
}
.sicon-bombardier:before {
  content: "\ea77";
}
.sicon-bookalope:before {
  content: "\ea78";
}
.sicon-bookbub:before {
  content: "\ea79";
}
.sicon-bookingdotcom:before {
  content: "\ea7a";
}
.sicon-bookmeter:before {
  content: "\ea7b";
}
.sicon-bookmyshow:before {
  content: "\ea7c";
}
.sicon-bookstack:before {
  content: "\ea7d";
}
.sicon-boost:before {
  content: "\ea7e";
}
.sicon-boosty:before {
  content: "\ea7f";
}
.sicon-boots:before {
  content: "\ea80";
}
.sicon-bootstrap:before {
  content: "\ea81";
}
.sicon-borgbackup:before {
  content: "\ea82";
}
.sicon-bosch:before {
  content: "\ea83";
}
.sicon-bose:before {
  content: "\ea84";
}
.sicon-botblecms:before {
  content: "\ea85";
}
.sicon-boulanger:before {
  content: "\ea86";
}
.sicon-bower:before {
  content: "\ea87";
}
.sicon-box:before {
  content: "\ea88";
}
.sicon-boxysvg:before {
  content: "\ea89";
}
.sicon-braintree:before {
  content: "\ea8a";
}
.sicon-braintrust:before {
  content: "\ea8b";
}
.sicon-brandfetch:before {
  content: "\ea8c";
}
.sicon-brandfolder:before {
  content: "\ea8d";
}
.sicon-brave:before {
  content: "\ea8e";
}
.sicon-breaker:before {
  content: "\ea8f";
}
.sicon-brenntag:before {
  content: "\ea90";
}
.sicon-brevo:before {
  content: "\ea91";
}
.sicon-brex:before {
  content: "\ea92";
}
.sicon-bricks:before {
  content: "\ea93";
}
.sicon-britishairways:before {
  content: "\ea94";
}
.sicon-broadcom:before {
  content: "\ea95";
}
.sicon-bruno:before {
  content: "\ea96";
}
.sicon-bsd:before {
  content: "\ea97";
}
.sicon-bspwm:before {
  content: "\ea98";
}
.sicon-bt:before {
  content: "\ea99";
}
.sicon-buddy:before {
  content: "\ea9a";
}
.sicon-budibase:before {
  content: "\ea9b";
}
.sicon-buefy:before {
  content: "\ea9c";
}
.sicon-buffer:before {
  content: "\ea9d";
}
.sicon-bugatti:before {
  content: "\ea9e";
}
.sicon-bugcrowd:before {
  content: "\ea9f";
}
.sicon-buhl:before {
  content: "\eaa0";
}
.sicon-buildkite:before {
  content: "\eaa1";
}
.sicon-builtbybit:before {
  content: "\eaa2";
}
.sicon-bukalapak:before {
  content: "\eaa3";
}
.sicon-bulma:before {
  content: "\eaa4";
}
.sicon-bun:before {
  content: "\eaa5";
}
.sicon-bunnydotnet:before {
  content: "\eaa6";
}
.sicon-bunq:before {
  content: "\eaa7";
}
.sicon-bungie:before {
  content: "\eaa8";
}
.sicon-burgerking:before {
  content: "\eaa9";
}
.sicon-burpsuite:before {
  content: "\eaaa";
}
.sicon-burton:before {
  content: "\eaab";
}
.sicon-buymeacoffee:before {
  content: "\eaac";
}
.sicon-buysellads:before {
  content: "\eaad";
}
.sicon-buzzfeed:before {
  content: "\eaae";
}
.sicon-bvg:before {
  content: "\eaaf";
}
.sicon-byjus:before {
  content: "\eab0";
}
.sicon-bytedance:before {
  content: "\eab1";
}
.sicon-c:before {
  content: "\eab2";
}
.sicon-cachet:before {
  content: "\eab3";
}
.sicon-caddy:before {
  content: "\eab4";
}
.sicon-cadillac:before {
  content: "\eab5";
}
.sicon-cafepress:before {
  content: "\eab6";
}
.sicon-cairographics:before {
  content: "\eab7";
}
.sicon-cairometro:before {
  content: "\eab8";
}
.sicon-caixabank:before {
  content: "\eab9";
}
.sicon-cakephp:before {
  content: "\eaba";
}
.sicon-caldotcom:before {
  content: "\eabb";
}
.sicon-calendly:before {
  content: "\eabc";
}
.sicon-calibreweb:before {
  content: "\eabd";
}
.sicon-campaignmonitor:before {
  content: "\eabe";
}
.sicon-camunda:before {
  content: "\eabf";
}
.sicon-canonical:before {
  content: "\eac0";
}
.sicon-canva:before {
  content: "\eac1";
}
.sicon-canvas:before {
  content: "\eac2";
}
.sicon-capacitor:before {
  content: "\eac3";
}
.sicon-caprover:before {
  content: "\eac4";
}
.sicon-cardano:before {
  content: "\eac5";
}
.sicon-cardmarket:before {
  content: "\eac6";
}
.sicon-carlsberggroup:before {
  content: "\eac7";
}
.sicon-carrd:before {
  content: "\eac8";
}
.sicon-carrefour:before {
  content: "\eac9";
}
.sicon-carto:before {
  content: "\eaca";
}
.sicon-carthrottle:before {
  content: "\eacb";
}
.sicon-cashapp:before {
  content: "\eacc";
}
.sicon-castbox:before {
  content: "\eacd";
}
.sicon-castorama:before {
  content: "\eace";
}
.sicon-castro:before {
  content: "\eacf";
}
.sicon-caterpillar:before {
  content: "\ead0";
}
.sicon-cbc:before {
  content: "\ead1";
}
.sicon-cbs:before {
  content: "\ead2";
}
.sicon-ccc:before {
  content: "\ead3";
}
.sicon-ccleaner:before {
  content: "\ead4";
}
.sicon-cdprojekt:before {
  content: "\ead5";
}
.sicon-ce:before {
  content: "\ead6";
}
.sicon-celery:before {
  content: "\ead7";
}
.sicon-celestron:before {
  content: "\ead8";
}
.sicon-centos:before {
  content: "\ead9";
}
.sicon-ceph:before {
  content: "\eada";
}
.sicon-cesium:before {
  content: "\eadb";
}
.sicon-cilium:before {
  content: "\eadc";
}
.sicon-cinema4d:before {
  content: "\eadd";
}
.sicon-cinnamon:before {
  content: "\eade";
}
.sicon-circle:before {
  content: "\eadf";
}
.sicon-circleci:before {
  content: "\eae0";
}
.sicon-circuitverse:before {
  content: "\eae1";
}
.sicon-cirrusci:before {
  content: "\eae2";
}
.sicon-cisco:before {
  content: "\eae3";
}
.sicon-citrix:before {
  content: "\eae4";
}
.sicon-citroen:before {
  content: "\eae5";
}
.sicon-civicrm:before {
  content: "\eae6";
}
.sicon-civo:before {
  content: "\eae7";
}
.sicon-clarifai:before {
  content: "\eae8";
}
.sicon-claris:before {
  content: "\eae9";
}
.sicon-clarivate:before {
  content: "\eaea";
}
.sicon-claude:before {
  content: "\eaeb";
}
.sicon-clerk:before {
  content: "\eaec";
}
.sicon-clevercloud:before {
  content: "\eaed";
}
.sicon-clickup:before {
  content: "\eaee";
}
.sicon-clickhouse:before {
  content: "\eaef";
}
.sicon-clion:before {
  content: "\eaf0";
}
.sicon-clockify:before {
  content: "\eaf1";
}
.sicon-clojure:before {
  content: "\eaf2";
}
.sicon-cloud66:before {
  content: "\eaf3";
}
.sicon-cloudbees:before {
  content: "\eaf4";
}
.sicon-cloudcannon:before {
  content: "\eaf5";
}
.sicon-cloudera:before {
  content: "\eaf6";
}
.sicon-cloudflare:before {
  content: "\eaf7";
}
.sicon-cloudflarepages:before {
  content: "\eaf8";
}
.sicon-cloudflareworkers:before {
  content: "\eaf9";
}
.sicon-cloudfoundry:before {
  content: "\eafa";
}
.sicon-cloudinary:before {
  content: "\eafb";
}
.sicon-cloudnativebuild:before {
  content: "\eafc";
}
.sicon-cloudron:before {
  content: "\eafd";
}
.sicon-cloudsmith:before {
  content: "\eafe";
}
.sicon-cloudways:before {
  content: "\eaff";
}
.sicon-clubforce:before {
  content: "\eb00";
}
.sicon-clubhouse:before {
  content: "\eb01";
}
.sicon-clyp:before {
  content: "\eb02";
}
.sicon-cmake:before {
  content: "\eb03";
}
.sicon-cncf:before {
  content: "\eb04";
}
.sicon-cnes:before {
  content: "\eb05";
}
.sicon-cnet:before {
  content: "\eb06";
}
.sicon-cnn:before {
  content: "\eb07";
}
.sicon-cobalt:before {
  content: "\eb08";
}
.sicon-cocacola:before {
  content: "\eb09";
}
.sicon-cockpit:before {
  content: "\eb0a";
}
.sicon-cockroachlabs:before {
  content: "\eb0b";
}
.sicon-cocoapods:before {
  content: "\eb0c";
}
.sicon-cocos:before {
  content: "\eb0d";
}
.sicon-coda:before {
  content: "\eb0e";
}
.sicon-codacy:before {
  content: "\eb0f";
}
.sicon-codeberg:before {
  content: "\eb10";
}
.sicon-codeblocks:before {
  content: "\eb11";
}
.sicon-codecademy:before {
  content: "\eb12";
}
.sicon-codeceptjs:before {
  content: "\eb13";
}
.sicon-codeclimate:before {
  content: "\eb14";
}
.sicon-codecov:before {
  content: "\eb15";
}
.sicon-codecrafters:before {
  content: "\eb16";
}
.sicon-codechef:before {
  content: "\eb17";
}
.sicon-codefactor:before {
  content: "\eb18";
}
.sicon-codeforces:before {
  content: "\eb19";
}
.sicon-codefresh:before {
  content: "\eb1a";
}
.sicon-codeigniter:before {
  content: "\eb1b";
}
.sicon-codemagic:before {
  content: "\eb1c";
}
.sicon-codementor:before {
  content: "\eb1d";
}
.sicon-codemirror:before {
  content: "\eb1e";
}
.sicon-codenewbie:before {
  content: "\eb1f";
}
.sicon-codepen:before {
  content: "\eb20";
}
.sicon-codeproject:before {
  content: "\eb21";
}
.sicon-coder:before {
  content: "\eb22";
}
.sicon-coderabbit:before {
  content: "\eb23";
}
.sicon-codersrank:before {
  content: "\eb24";
}
.sicon-coderwall:before {
  content: "\eb25";
}
.sicon-codesandbox:before {
  content: "\eb26";
}
.sicon-codeship:before {
  content: "\eb27";
}
.sicon-codesignal:before {
  content: "\eb28";
}
.sicon-codestream:before {
  content: "\eb29";
}
.sicon-codewars:before {
  content: "\eb2a";
}
.sicon-codingame:before {
  content: "\eb2b";
}
.sicon-codingninjas:before {
  content: "\eb2c";
}
.sicon-codio:before {
  content: "\eb2d";
}
.sicon-coffeescript:before {
  content: "\eb2e";
}
.sicon-coggle:before {
  content: "\eb2f";
}
.sicon-cognizant:before {
  content: "\eb30";
}
.sicon-coinbase:before {
  content: "\eb31";
}
.sicon-coinmarketcap:before {
  content: "\eb32";
}
.sicon-collaboraonline:before {
  content: "\eb33";
}
.sicon-comicfury:before {
  content: "\eb34";
}
.sicon-comma:before {
  content: "\eb35";
}
.sicon-commerzbank:before {
  content: "\eb36";
}
.sicon-commitlint:before {
  content: "\eb37";
}
.sicon-commodore:before {
  content: "\eb38";
}
.sicon-commonlisp:before {
  content: "\eb39";
}
.sicon-commonworkflowlanguage:before {
  content: "\eb3a";
}
.sicon-compilerexplorer:before {
  content: "\eb3b";
}
.sicon-composer:before {
  content: "\eb3c";
}
.sicon-comptia:before {
  content: "\eb3d";
}
.sicon-comsol:before {
  content: "\eb3e";
}
.sicon-conan:before {
  content: "\eb3f";
}
.sicon-concourse:before {
  content: "\eb40";
}
.sicon-condaforge:before {
  content: "\eb41";
}
.sicon-conekta:before {
  content: "\eb42";
}
.sicon-confluence:before {
  content: "\eb43";
}
.sicon-construct3:before {
  content: "\eb44";
}
.sicon-consul:before {
  content: "\eb45";
}
.sicon-contabo:before {
  content: "\eb46";
}
.sicon-contactlesspayment:before {
  content: "\eb47";
}
.sicon-containerd:before {
  content: "\eb48";
}
.sicon-contao:before {
  content: "\eb49";
}
.sicon-contentful:before {
  content: "\eb4a";
}
.sicon-contentstack:before {
  content: "\eb4b";
}
.sicon-continente:before {
  content: "\eb4c";
}
.sicon-contributorcovenant:before {
  content: "\eb4d";
}
.sicon-conventionalcommits:before {
  content: "\eb4e";
}
.sicon-convertio:before {
  content: "\eb4f";
}
.sicon-cookiecutter:before {
  content: "\eb50";
}
.sicon-coolermaster:before {
  content: "\eb51";
}
.sicon-coolify:before {
  content: "\eb52";
}
.sicon-coop:before {
  content: "\eb53";
}
.sicon-copaairlines:before {
  content: "\eb54";
}
.sicon-coppel:before {
  content: "\eb55";
}
.sicon-cora:before {
  content: "\eb56";
}
.sicon-coreldraw:before {
  content: "\eb57";
}
.sicon-coronaengine:before {
  content: "\eb58";
}
.sicon-coronarenderer:before {
  content: "\eb59";
}
.sicon-corsair:before {
  content: "\eb5a";
}
.sicon-couchbase:before {
  content: "\eb5b";
}
.sicon-counterstrike:before {
  content: "\eb5c";
}
.sicon-countingworkspro:before {
  content: "\eb5d";
}
.sicon-coursera:before {
  content: "\eb5e";
}
.sicon-coveralls:before {
  content: "\eb5f";
}
.sicon-coze:before {
  content: "\eb60";
}
.sicon-cpanel:before {
  content: "\eb61";
}
.sicon-cplusplus:before {
  content: "\eb62";
}
.sicon-cplusplusbuilder:before {
  content: "\eb63";
}
.sicon-craftcms:before {
  content: "\eb64";
}
.sicon-craftsman:before {
  content: "\eb65";
}
.sicon-cratedb:before {
  content: "\eb66";
}
.sicon-crayon:before {
  content: "\eb67";
}
.sicon-creality:before {
  content: "\eb68";
}
.sicon-createreactapp:before {
  content: "\eb69";
}
.sicon-creativecommons:before {
  content: "\eb6a";
}
.sicon-creativetechnology:before {
  content: "\eb6b";
}
.sicon-credly:before {
  content: "\eb6c";
}
.sicon-crehana:before {
  content: "\eb6d";
}
.sicon-crewai:before {
  content: "\eb6e";
}
.sicon-crewunited:before {
  content: "\eb6f";
}
.sicon-criticalrole:before {
  content: "\eb70";
}
.sicon-crowdin:before {
  content: "\eb71";
}
.sicon-crowdsource:before {
  content: "\eb72";
}
.sicon-crunchbase:before {
  content: "\eb73";
}
.sicon-crunchyroll:before {
  content: "\eb74";
}
.sicon-cryengine:before {
  content: "\eb75";
}
.sicon-cryptomator:before {
  content: "\eb76";
}
.sicon-cryptpad:before {
  content: "\eb77";
}
.sicon-crystal:before {
  content: "\eb78";
}
.sicon-csdn:before {
  content: "\eb79";
}
.sicon-css:before {
  content: "\eb7a";
}
.sicon-cssdesignawards:before {
  content: "\eb7b";
}
.sicon-cssmodules:before {
  content: "\eb7c";
}
.sicon-csswizardry:before {
  content: "\eb7d";
}
.sicon-cts:before {
  content: "\eb7e";
}
.sicon-cucumber:before {
  content: "\eb7f";
}
.sicon-cultura:before {
  content: "\eb80";
}
.sicon-curl:before {
  content: "\eb81";
}
.sicon-curseforge:before {
  content: "\eb82";
}
.sicon-cursor:before {
  content: "\eb83";
}
.sicon-customink:before {
  content: "\eb84";
}
.sicon-cyberdefenders:before {
  content: "\eb85";
}
.sicon-cycling74:before {
  content: "\eb86";
}
.sicon-cypress:before {
  content: "\eb87";
}
.sicon-cytoscapedotjs:before {
  content: "\eb88";
}
.sicon-chai:before {
  content: "\eb89";
}
.sicon-chainlink:before {
  content: "\eb8a";
}
.sicon-chainguard:before {
  content: "\eb8b";
}
.sicon-chakraui:before {
  content: "\eb8c";
}
.sicon-channel4:before {
  content: "\eb8d";
}
.sicon-changedetection:before {
  content: "\eb8e";
}
.sicon-charles:before {
  content: "\eb8f";
}
.sicon-chartdotjs:before {
  content: "\eb90";
}
.sicon-chartmogul:before {
  content: "\eb91";
}
.sicon-chase:before {
  content: "\eb92";
}
.sicon-chatbot:before {
  content: "\eb93";
}
.sicon-chatwoot:before {
  content: "\eb94";
}
.sicon-checkio:before {
  content: "\eb95";
}
.sicon-checkmarx:before {
  content: "\eb96";
}
.sicon-checkmk:before {
  content: "\eb97";
}
.sicon-chedraui:before {
  content: "\eb98";
}
.sicon-cheerio:before {
  content: "\eb99";
}
.sicon-chef:before {
  content: "\eb9a";
}
.sicon-chemex:before {
  content: "\eb9b";
}
.sicon-chessdotcom:before {
  content: "\eb9c";
}
.sicon-chevrolet:before {
  content: "\eb9d";
}
.sicon-chianetwork:before {
  content: "\eb9e";
}
.sicon-chinaeasternairlines:before {
  content: "\eb9f";
}
.sicon-chinasouthernairlines:before {
  content: "\eba0";
}
.sicon-chocolatey:before {
  content: "\eba1";
}
.sicon-chromatic:before {
  content: "\eba2";
}
.sicon-chromewebstore:before {
  content: "\eba3";
}
.sicon-chrysler:before {
  content: "\eba4";
}
.sicon-chupachups:before {
  content: "\eba5";
}
.sicon-d1:before {
  content: "\eba6";
}
.sicon-d3:before {
  content: "\eba7";
}
.sicon-dacia:before {
  content: "\eba8";
}
.sicon-daf:before {
  content: "\eba9";
}
.sicon-dailydotdev:before {
  content: "\ebaa";
}
.sicon-dailymotion:before {
  content: "\ebab";
}
.sicon-daisyui:before {
  content: "\ebac";
}
.sicon-dapr:before {
  content: "\ebad";
}
.sicon-darkreader:before {
  content: "\ebae";
}
.sicon-dart:before {
  content: "\ebaf";
}
.sicon-darty:before {
  content: "\ebb0";
}
.sicon-daserste:before {
  content: "\ebb1";
}
.sicon-dash:before {
  content: "\ebb2";
}
.sicon-dashlane:before {
  content: "\ebb3";
}
.sicon-dask:before {
  content: "\ebb4";
}
.sicon-dassaultsystemes:before {
  content: "\ebb5";
}
.sicon-databricks:before {
  content: "\ebb6";
}
.sicon-datacamp:before {
  content: "\ebb7";
}
.sicon-datadog:before {
  content: "\ebb8";
}
.sicon-datadotai:before {
  content: "\ebb9";
}
.sicon-datagrip:before {
  content: "\ebba";
}
.sicon-dataiku:before {
  content: "\ebbb";
}
.sicon-datastax:before {
  content: "\ebbc";
}
.sicon-datefns:before {
  content: "\ebbd";
}
.sicon-datev:before {
  content: "\ebbe";
}
.sicon-datocms:before {
  content: "\ebbf";
}
.sicon-datto:before {
  content: "\ebc0";
}
.sicon-davinciresolve:before {
  content: "\ebc1";
}
.sicon-dazhongdianping:before {
  content: "\ebc2";
}
.sicon-dazn:before {
  content: "\ebc3";
}
.sicon-dbeaver:before {
  content: "\ebc4";
}
.sicon-dblp:before {
  content: "\ebc5";
}
.sicon-dbt:before {
  content: "\ebc6";
}
.sicon-dcentertainment:before {
  content: "\ebc7";
}
.sicon-debian:before {
  content: "\ebc8";
}
.sicon-debridlink:before {
  content: "\ebc9";
}
.sicon-decapcms:before {
  content: "\ebca";
}
.sicon-decentraland:before {
  content: "\ebcb";
}
.sicon-dedge:before {
  content: "\ebcc";
}
.sicon-deepcool:before {
  content: "\ebcd";
}
.sicon-deepgram:before {
  content: "\ebce";
}
.sicon-deepin:before {
  content: "\ebcf";
}
.sicon-deepl:before {
  content: "\ebd0";
}
.sicon-deepmind:before {
  content: "\ebd1";
}
.sicon-deepnote:before {
  content: "\ebd2";
}
.sicon-deliveroo:before {
  content: "\ebd3";
}
.sicon-dell:before {
  content: "\ebd4";
}
.sicon-delonghi:before {
  content: "\ebd5";
}
.sicon-delphi:before {
  content: "\ebd6";
}
.sicon-delta:before {
  content: "\ebd7";
}
.sicon-deluge:before {
  content: "\ebd8";
}
.sicon-deno:before {
  content: "\ebd9";
}
.sicon-denon:before {
  content: "\ebda";
}
.sicon-dependabot:before {
  content: "\ebdb";
}
.sicon-dependencycheck:before {
  content: "\ebdc";
}
.sicon-depositphotos:before {
  content: "\ebdd";
}
.sicon-derspiegel:before {
  content: "\ebde";
}
.sicon-deutschebahn:before {
  content: "\ebdf";
}
.sicon-deutschebank:before {
  content: "\ebe0";
}
.sicon-deutschepost:before {
  content: "\ebe1";
}
.sicon-deutschetelekom:before {
  content: "\ebe2";
}
.sicon-deutschewelle:before {
  content: "\ebe3";
}
.sicon-devbox:before {
  content: "\ebe4";
}
.sicon-devdotto:before {
  content: "\ebe5";
}
.sicon-devexpress:before {
  content: "\ebe6";
}
.sicon-deviantart:before {
  content: "\ebe7";
}
.sicon-devpost:before {
  content: "\ebe8";
}
.sicon-devrant:before {
  content: "\ebe9";
}
.sicon-dgraph:before {
  content: "\ebea";
}
.sicon-dhl:before {
  content: "\ebeb";
}
.sicon-diagramsdotnet:before {
  content: "\ebec";
}
.sicon-dialogflow:before {
  content: "\ebed";
}
.sicon-diaspora:before {
  content: "\ebee";
}
.sicon-dictionarydotcom:before {
  content: "\ebef";
}
.sicon-digg:before {
  content: "\ebf0";
}
.sicon-digikeyelectronics:before {
  content: "\ebf1";
}
.sicon-digitalocean:before {
  content: "\ebf2";
}
.sicon-dinersclub:before {
  content: "\ebf3";
}
.sicon-dior:before {
  content: "\ebf4";
}
.sicon-directus:before {
  content: "\ebf5";
}
.sicon-discogs:before {
  content: "\ebf6";
}
.sicon-discord:before {
  content: "\ebf7";
}
.sicon-discorddotjs:before {
  content: "\ebf8";
}
.sicon-discourse:before {
  content: "\ebf9";
}
.sicon-discover:before {
  content: "\ebfa";
}
.sicon-disqus:before {
  content: "\ebfb";
}
.sicon-disroot:before {
  content: "\ebfc";
}
.sicon-distrobox:before {
  content: "\ebfd";
}
.sicon-distrokid:before {
  content: "\ebfe";
}
.sicon-django:before {
  content: "\ebff";
}
.sicon-dji:before {
  content: "\ec00";
}
.sicon-dlib:before {
  content: "\ec01";
}
.sicon-dlna:before {
  content: "\ec02";
}
.sicon-dm:before {
  content: "\ec03";
}
.sicon-dmm:before {
  content: "\ec04";
}
.sicon-docker:before {
  content: "\ec05";
}
.sicon-docsdotrs:before {
  content: "\ec06";
}
.sicon-docsify:before {
  content: "\ec07";
}
.sicon-doctrine:before {
  content: "\ec08";
}
.sicon-docusaurus:before {
  content: "\ec09";
}
.sicon-dogecoin:before {
  content: "\ec0a";
}
.sicon-doi:before {
  content: "\ec0b";
}
.sicon-dolby:before {
  content: "\ec0c";
}
.sicon-dolibarr:before {
  content: "\ec0d";
}
.sicon-dolphin:before {
  content: "\ec0e";
}
.sicon-doordash:before {
  content: "\ec0f";
}
.sicon-dota2:before {
  content: "\ec10";
}
.sicon-dotenv:before {
  content: "\ec11";
}
.sicon-dotnet:before {
  content: "\ec12";
}
.sicon-douban:before {
  content: "\ec13";
}
.sicon-doubanread:before {
  content: "\ec14";
}
.sicon-dovecot:before {
  content: "\ec15";
}
.sicon-dovetail:before {
  content: "\ec16";
}
.sicon-downdetector:before {
  content: "\ec17";
}
.sicon-doxygen:before {
  content: "\ec18";
}
.sicon-dpd:before {
  content: "\ec19";
}
.sicon-dragonframe:before {
  content: "\ec1a";
}
.sicon-draugiemdotlv:before {
  content: "\ec1b";
}
.sicon-dreamstime:before {
  content: "\ec1c";
}
.sicon-dribbble:before {
  content: "\ec1d";
}
.sicon-drizzle:before {
  content: "\ec1e";
}
.sicon-drone:before {
  content: "\ec1f";
}
.sicon-drooble:before {
  content: "\ec20";
}
.sicon-dropbox:before {
  content: "\ec21";
}
.sicon-drupal:before {
  content: "\ec22";
}
.sicon-dsautomobiles:before {
  content: "\ec23";
}
.sicon-dts:before {
  content: "\ec24";
}
.sicon-dtube:before {
  content: "\ec25";
}
.sicon-ducati:before {
  content: "\ec26";
}
.sicon-duckdb:before {
  content: "\ec27";
}
.sicon-duckduckgo:before {
  content: "\ec28";
}
.sicon-dunked:before {
  content: "\ec29";
}
.sicon-dunzo:before {
  content: "\ec2a";
}
.sicon-dungeonsanddragons:before {
  content: "\ec2b";
}
.sicon-duolingo:before {
  content: "\ec2c";
}
.sicon-duplicati:before {
  content: "\ec2d";
}
.sicon-dvc:before {
  content: "\ec2e";
}
.sicon-dwavesystems:before {
  content: "\ec2f";
}
.sicon-dwm:before {
  content: "\ec30";
}
.sicon-dynatrace:before {
  content: "\ec31";
}
.sicon-e:before {
  content: "\ec32";
}
.sicon-e3:before {
  content: "\ec33";
}
.sicon-ea:before {
  content: "\ec34";
}
.sicon-eac:before {
  content: "\ec35";
}
.sicon-eagle:before {
  content: "\ec36";
}
.sicon-easyeda:before {
  content: "\ec37";
}
.sicon-easyjet:before {
  content: "\ec38";
}
.sicon-ebay:before {
  content: "\ec39";
}
.sicon-ebox:before {
  content: "\ec3a";
}
.sicon-eclipseadoptium:before {
  content: "\ec3b";
}
.sicon-eclipseche:before {
  content: "\ec3c";
}
.sicon-eclipseide:before {
  content: "\ec3d";
}
.sicon-eclipsejetty:before {
  content: "\ec3e";
}
.sicon-eclipsemosquitto:before {
  content: "\ec3f";
}
.sicon-eclipsevertdotx:before {
  content: "\ec40";
}
.sicon-ecosia:before {
  content: "\ec41";
}
.sicon-ecovacs:before {
  content: "\ec42";
}
.sicon-edeka:before {
  content: "\ec43";
}
.sicon-edgeimpulse:before {
  content: "\ec44";
}
.sicon-editorconfig:before {
  content: "\ec45";
}
.sicon-edotleclerc:before {
  content: "\ec46";
}
.sicon-educative:before {
  content: "\ec47";
}
.sicon-edx:before {
  content: "\ec48";
}
.sicon-egghead:before {
  content: "\ec49";
}
.sicon-egnyte:before {
  content: "\ec4a";
}
.sicon-eight:before {
  content: "\ec4b";
}
.sicon-eightsleep:before {
  content: "\ec4c";
}
.sicon-ejs:before {
  content: "\ec4d";
}
.sicon-elastic:before {
  content: "\ec4e";
}
.sicon-elasticcloud:before {
  content: "\ec4f";
}
.sicon-elasticsearch:before {
  content: "\ec50";
}
.sicon-elasticstack:before {
  content: "\ec51";
}
.sicon-elavon:before {
  content: "\ec52";
}
.sicon-electron:before {
  content: "\ec53";
}
.sicon-electronbuilder:before {
  content: "\ec54";
}
.sicon-electronfiddle:before {
  content: "\ec55";
}
.sicon-elegoo:before {
  content: "\ec56";
}
.sicon-element:before {
  content: "\ec57";
}
.sicon-elementary:before {
  content: "\ec58";
}
.sicon-elementor:before {
  content: "\ec59";
}
.sicon-elevenlabs:before {
  content: "\ec5a";
}
.sicon-eleventy:before {
  content: "\ec5b";
}
.sicon-elgato:before {
  content: "\ec5c";
}
.sicon-elixir:before {
  content: "\ec5d";
}
.sicon-elm:before {
  content: "\ec5e";
}
.sicon-elsevier:before {
  content: "\ec5f";
}
.sicon-embarcadero:before {
  content: "\ec60";
}
.sicon-embark:before {
  content: "\ec61";
}
.sicon-emberdotjs:before {
  content: "\ec62";
}
.sicon-emby:before {
  content: "\ec63";
}
.sicon-emirates:before {
  content: "\ec64";
}
.sicon-emlakjet:before {
  content: "\ec65";
}
.sicon-endeavouros:before {
  content: "\ec66";
}
.sicon-enpass:before {
  content: "\ec67";
}
.sicon-ens:before {
  content: "\ec68";
}
.sicon-ente:before {
  content: "\ec69";
}
.sicon-enterprisedb:before {
  content: "\ec6a";
}
.sicon-envato:before {
  content: "\ec6b";
}
.sicon-envoyproxy:before {
  content: "\ec6c";
}
.sicon-epel:before {
  content: "\ec6d";
}
.sicon-epicgames:before {
  content: "\ec6e";
}
.sicon-epson:before {
  content: "\ec6f";
}
.sicon-equinixmetal:before {
  content: "\ec70";
}
.sicon-eraser:before {
  content: "\ec71";
}
.sicon-ericsson:before {
  content: "\ec72";
}
.sicon-erlang:before {
  content: "\ec73";
}
.sicon-erpnext:before {
  content: "\ec74";
}
.sicon-esbuild:before {
  content: "\ec75";
}
.sicon-esea:before {
  content: "\ec76";
}
.sicon-eslgaming:before {
  content: "\ec77";
}
.sicon-eslint:before {
  content: "\ec78";
}
.sicon-esotericsoftware:before {
  content: "\ec79";
}
.sicon-espressif:before {
  content: "\ec7a";
}
.sicon-esphome:before {
  content: "\ec7b";
}
.sicon-esri:before {
  content: "\ec7c";
}
.sicon-etcd:before {
  content: "\ec7d";
}
.sicon-etihadairways:before {
  content: "\ec7e";
}
.sicon-etsy:before {
  content: "\ec7f";
}
.sicon-ethereum:before {
  content: "\ec80";
}
.sicon-ethers:before {
  content: "\ec81";
}
.sicon-ethiopianairlines:before {
  content: "\ec82";
}
.sicon-europeanunion:before {
  content: "\ec83";
}
.sicon-eventstore:before {
  content: "\ec84";
}
.sicon-evernote:before {
  content: "\ec85";
}
.sicon-everydotorg:before {
  content: "\ec86";
}
.sicon-excalidraw:before {
  content: "\ec87";
}
.sicon-exercism:before {
  content: "\ec88";
}
.sicon-exordo:before {
  content: "\ec89";
}
.sicon-exoscale:before {
  content: "\ec8a";
}
.sicon-expedia:before {
  content: "\ec8b";
}
.sicon-expensify:before {
  content: "\ec8c";
}
.sicon-expertsexchange:before {
  content: "\ec8d";
}
.sicon-expo:before {
  content: "\ec8e";
}
.sicon-express:before {
  content: "\ec8f";
}
.sicon-expressdotcom:before {
  content: "\ec90";
}
.sicon-expressvpn:before {
  content: "\ec91";
}
.sicon-eyeem:before {
  content: "\ec92";
}
.sicon-f1:before {
  content: "\ec93";
}
.sicon-f5:before {
  content: "\ec94";
}
.sicon-facebook:before {
  content: "\ec95";
}
.sicon-facebookgaming:before {
  content: "\ec96";
}
.sicon-facebooklive:before {
  content: "\ec97";
}
.sicon-faceit:before {
  content: "\ec98";
}
.sicon-facepunch:before {
  content: "\ec99";
}
.sicon-fairphone:before {
  content: "\ec9a";
}
.sicon-falco:before {
  content: "\ec9b";
}
.sicon-falcon:before {
  content: "\ec9c";
}
.sicon-fampay:before {
  content: "\ec9d";
}
.sicon-fandango:before {
  content: "\ec9e";
}
.sicon-fandom:before {
  content: "\ec9f";
}
.sicon-fanfou:before {
  content: "\eca0";
}
.sicon-fantom:before {
  content: "\eca1";
}
.sicon-farcaster:before {
  content: "\eca2";
}
.sicon-fareharbor:before {
  content: "\eca3";
}
.sicon-farfetch:before {
  content: "\eca4";
}
.sicon-fastapi:before {
  content: "\eca5";
}
.sicon-fastify:before {
  content: "\eca6";
}
.sicon-fastlane:before {
  content: "\eca7";
}
.sicon-fastly:before {
  content: "\eca8";
}
.sicon-fathom:before {
  content: "\eca9";
}
.sicon-fauna:before {
  content: "\ecaa";
}
.sicon-favro:before {
  content: "\ecab";
}
.sicon-fcc:before {
  content: "\ecac";
}
.sicon-fdroid:before {
  content: "\ecad";
}
.sicon-fedex:before {
  content: "\ecae";
}
.sicon-fedora:before {
  content: "\ecaf";
}
.sicon-feedly:before {
  content: "\ecb0";
}
.sicon-ferrari:before {
  content: "\ecb1";
}
.sicon-ferrarinv:before {
  content: "\ecb2";
}
.sicon-ferretdb:before {
  content: "\ecb3";
}
.sicon-ffmpeg:before {
  content: "\ecb4";
}
.sicon-fi:before {
  content: "\ecb5";
}
.sicon-fiat:before {
  content: "\ecb6";
}
.sicon-fidoalliance:before {
  content: "\ecb7";
}
.sicon-fifa:before {
  content: "\ecb8";
}
.sicon-fig:before {
  content: "\ecb9";
}
.sicon-figma:before {
  content: "\ecba";
}
.sicon-figshare:before {
  content: "\ecbb";
}
.sicon-fila:before {
  content: "\ecbc";
}
.sicon-filament:before {
  content: "\ecbd";
}
.sicon-filedotio:before {
  content: "\ecbe";
}
.sicon-filen:before {
  content: "\ecbf";
}
.sicon-files:before {
  content: "\ecc0";
}
.sicon-filezilla:before {
  content: "\ecc1";
}
.sicon-fineco:before {
  content: "\ecc2";
}
.sicon-fing:before {
  content: "\ecc3";
}
.sicon-firebase:before {
  content: "\ecc4";
}
.sicon-firefish:before {
  content: "\ecc5";
}
.sicon-fireflyiii:before {
  content: "\ecc6";
}
.sicon-firefox:before {
  content: "\ecc7";
}
.sicon-firefoxbrowser:before {
  content: "\ecc8";
}
.sicon-fireship:before {
  content: "\ecc9";
}
.sicon-firewalla:before {
  content: "\ecca";
}
.sicon-first:before {
  content: "\eccb";
}
.sicon-fishaudio:before {
  content: "\eccc";
}
.sicon-fishshell:before {
  content: "\eccd";
}
.sicon-fitbit:before {
  content: "\ecce";
}
.sicon-fivem:before {
  content: "\eccf";
}
.sicon-fiverr:before {
  content: "\ecd0";
}
.sicon-fizz:before {
  content: "\ecd1";
}
.sicon-flashforge:before {
  content: "\ecd2";
}
.sicon-flask:before {
  content: "\ecd3";
}
.sicon-flat:before {
  content: "\ecd4";
}
.sicon-flatpak:before {
  content: "\ecd5";
}
.sicon-flathub:before {
  content: "\ecd6";
}
.sicon-flickr:before {
  content: "\ecd7";
}
.sicon-flightaware:before {
  content: "\ecd8";
}
.sicon-flipboard:before {
  content: "\ecd9";
}
.sicon-flipkart:before {
  content: "\ecda";
}
.sicon-floatplane:before {
  content: "\ecdb";
}
.sicon-flood:before {
  content: "\ecdc";
}
.sicon-floorp:before {
  content: "\ecdd";
}
.sicon-fluentbit:before {
  content: "\ecde";
}
.sicon-fluentd:before {
  content: "\ecdf";
}
.sicon-fluke:before {
  content: "\ece0";
}
.sicon-flutter:before {
  content: "\ece1";
}
.sicon-flux:before {
  content: "\ece2";
}
.sicon-flydotio:before {
  content: "\ece3";
}
.sicon-flyway:before {
  content: "\ece4";
}
.sicon-fmod:before {
  content: "\ece5";
}
.sicon-fnac:before {
  content: "\ece6";
}
.sicon-folium:before {
  content: "\ece7";
}
.sicon-folo:before {
  content: "\ece8";
}
.sicon-fonoma:before {
  content: "\ece9";
}
.sicon-fontawesome:before {
  content: "\ecea";
}
.sicon-fontbase:before {
  content: "\eceb";
}
.sicon-fontforge:before {
  content: "\ecec";
}
.sicon-foobar2000:before {
  content: "\eced";
}
.sicon-foodpanda:before {
  content: "\ecee";
}
.sicon-ford:before {
  content: "\ecef";
}
.sicon-forgejo:before {
  content: "\ecf0";
}
.sicon-formbricks:before {
  content: "\ecf1";
}
.sicon-formik:before {
  content: "\ecf2";
}
.sicon-formspree:before {
  content: "\ecf3";
}
.sicon-formstack:before {
  content: "\ecf4";
}
.sicon-fortinet:before {
  content: "\ecf5";
}
.sicon-fortnite:before {
  content: "\ecf6";
}
.sicon-fortran:before {
  content: "\ecf7";
}
.sicon-fossa:before {
  content: "\ecf8";
}
.sicon-fossilscm:before {
  content: "\ecf9";
}
.sicon-foundryvirtualtabletop:before {
  content: "\ecfa";
}
.sicon-foursquare:before {
  content: "\ecfb";
}
.sicon-fox:before {
  content: "\ecfc";
}
.sicon-foxtel:before {
  content: "\ecfd";
}
.sicon-fozzy:before {
  content: "\ecfe";
}
.sicon-framer:before {
  content: "\ecff";
}
.sicon-framework:before {
  content: "\ed00";
}
.sicon-framework7:before {
  content: "\ed01";
}
.sicon-franprix:before {
  content: "\ed02";
}
.sicon-frappe:before {
  content: "\ed03";
}
.sicon-fraunhofergesellschaft:before {
  content: "\ed04";
}
.sicon-freebsd:before {
  content: "\ed05";
}
.sicon-freecad:before {
  content: "\ed06";
}
.sicon-freecodecamp:before {
  content: "\ed07";
}
.sicon-freedesktopdotorg:before {
  content: "\ed08";
}
.sicon-freelancer:before {
  content: "\ed09";
}
.sicon-freelancermap:before {
  content: "\ed0a";
}
.sicon-freenas:before {
  content: "\ed0b";
}
.sicon-freenet:before {
  content: "\ed0c";
}
.sicon-freepik:before {
  content: "\ed0d";
}
.sicon-freetube:before {
  content: "\ed0e";
}
.sicon-fresh:before {
  content: "\ed0f";
}
.sicon-freshrss:before {
  content: "\ed10";
}
.sicon-frigate:before {
  content: "\ed11";
}
.sicon-fritz:before {
  content: "\ed12";
}
.sicon-frontendmentor:before {
  content: "\ed13";
}
.sicon-frontify:before {
  content: "\ed14";
}
.sicon-fsharp:before {
  content: "\ed15";
}
.sicon-fubo:before {
  content: "\ed16";
}
.sicon-fueler:before {
  content: "\ed17";
}
.sicon-fugacloud:before {
  content: "\ed18";
}
.sicon-fujifilm:before {
  content: "\ed19";
}
.sicon-fujitsu:before {
  content: "\ed1a";
}
.sicon-furaffinity:before {
  content: "\ed1b";
}
.sicon-furrynetwork:before {
  content: "\ed1c";
}
.sicon-fusionauth:before {
  content: "\ed1d";
}
.sicon-futurelearn:before {
  content: "\ed1e";
}
.sicon-fyle:before {
  content: "\ed1f";
}
.sicon-g2:before {
  content: "\ed20";
}
.sicon-g2a:before {
  content: "\ed21";
}
.sicon-g2g:before {
  content: "\ed22";
}
.sicon-galaxus:before {
  content: "\ed23";
}
.sicon-gamebanana:before {
  content: "\ed24";
}
.sicon-gamedeveloper:before {
  content: "\ed25";
}
.sicon-gamejolt:before {
  content: "\ed26";
}
.sicon-gameloft:before {
  content: "\ed27";
}
.sicon-gamemaker:before {
  content: "\ed28";
}
.sicon-gamescience:before {
  content: "\ed29";
}
.sicon-gandi:before {
  content: "\ed2a";
}
.sicon-garmin:before {
  content: "\ed2b";
}
.sicon-garudalinux:before {
  content: "\ed2c";
}
.sicon-gatling:before {
  content: "\ed2d";
}
.sicon-gatsby:before {
  content: "\ed2e";
}
.sicon-gcore:before {
  content: "\ed2f";
}
.sicon-gdal:before {
  content: "\ed30";
}
.sicon-geeksforgeeks:before {
  content: "\ed31";
}
.sicon-generalelectric:before {
  content: "\ed32";
}
.sicon-generalmotors:before {
  content: "\ed33";
}
.sicon-genius:before {
  content: "\ed34";
}
.sicon-gentoo:before {
  content: "\ed35";
}
.sicon-geocaching:before {
  content: "\ed36";
}
.sicon-geode:before {
  content: "\ed37";
}
.sicon-geopandas:before {
  content: "\ed38";
}
.sicon-gerrit:before {
  content: "\ed39";
}
.sicon-getx:before {
  content: "\ed3a";
}
.sicon-ghost:before {
  content: "\ed3b";
}
.sicon-ghostery:before {
  content: "\ed3c";
}
.sicon-glassdoor:before {
  content: "\ed3d";
}
.sicon-gldotinet:before {
  content: "\ed3e";
}
.sicon-gleam:before {
  content: "\ed3f";
}
.sicon-glide:before {
  content: "\ed40";
}
.sicon-glitch:before {
  content: "\ed41";
}
.sicon-globus:before {
  content: "\ed42";
}
.sicon-glovo:before {
  content: "\ed43";
}
.sicon-gltf:before {
  content: "\ed44";
}
.sicon-gmail:before {
  content: "\ed45";
}
.sicon-gmx:before {
  content: "\ed46";
}
.sicon-gnome:before {
  content: "\ed47";
}
.sicon-gnometerminal:before {
  content: "\ed48";
}
.sicon-gnu:before {
  content: "\ed49";
}
.sicon-gnubash:before {
  content: "\ed4a";
}
.sicon-gnuemacs:before {
  content: "\ed4b";
}
.sicon-gnuicecat:before {
  content: "\ed4c";
}
.sicon-gnuprivacyguard:before {
  content: "\ed4d";
}
.sicon-gnusocial:before {
  content: "\ed4e";
}
.sicon-go:before {
  content: "\ed4f";
}
.sicon-gocd:before {
  content: "\ed50";
}
.sicon-godaddy:before {
  content: "\ed51";
}
.sicon-godotengine:before {
  content: "\ed52";
}
.sicon-gofundme:before {
  content: "\ed53";
}
.sicon-gogdotcom:before {
  content: "\ed54";
}
.sicon-gojek:before {
  content: "\ed55";
}
.sicon-goland:before {
  content: "\ed56";
}
.sicon-goldmansachs:before {
  content: "\ed57";
}
.sicon-goodreads:before {
  content: "\ed58";
}
.sicon-google:before {
  content: "\ed59";
}
.sicon-googleadmob:before {
  content: "\ed5a";
}
.sicon-googleads:before {
  content: "\ed5b";
}
.sicon-googleadsense:before {
  content: "\ed5c";
}
.sicon-googleanalytics:before {
  content: "\ed5d";
}
.sicon-googleappsscript:before {
  content: "\ed5e";
}
.sicon-googleassistant:before {
  content: "\ed5f";
}
.sicon-googleauthenticator:before {
  content: "\ed60";
}
.sicon-googlebigquery:before {
  content: "\ed61";
}
.sicon-googlebigtable:before {
  content: "\ed62";
}
.sicon-googlecalendar:before {
  content: "\ed63";
}
.sicon-googlecampaignmanager360:before {
  content: "\ed64";
}
.sicon-googlecardboard:before {
  content: "\ed65";
}
.sicon-googlecast:before {
  content: "\ed66";
}
.sicon-googleclassroom:before {
  content: "\ed67";
}
.sicon-googlecloud:before {
  content: "\ed68";
}
.sicon-googlecloudcomposer:before {
  content: "\ed69";
}
.sicon-googlecloudspanner:before {
  content: "\ed6a";
}
.sicon-googlecloudstorage:before {
  content: "\ed6b";
}
.sicon-googlecolab:before {
  content: "\ed6c";
}
.sicon-googlecontaineroptimizedos:before {
  content: "\ed6d";
}
.sicon-googlechat:before {
  content: "\ed6e";
}
.sicon-googlechrome:before {
  content: "\ed6f";
}
.sicon-googlechronicle:before {
  content: "\ed70";
}
.sicon-googledataflow:before {
  content: "\ed71";
}
.sicon-googledataproc:before {
  content: "\ed72";
}
.sicon-googledisplayandvideo360:before {
  content: "\ed73";
}
.sicon-googledocs:before {
  content: "\ed74";
}
.sicon-googledrive:before {
  content: "\ed75";
}
.sicon-googleearth:before {
  content: "\ed76";
}
.sicon-googleearthengine:before {
  content: "\ed77";
}
.sicon-googlefit:before {
  content: "\ed78";
}
.sicon-googlefonts:before {
  content: "\ed79";
}
.sicon-googleforms:before {
  content: "\ed7a";
}
.sicon-googlegemini:before {
  content: "\ed7b";
}
.sicon-googlehome:before {
  content: "\ed7c";
}
.sicon-googlekeep:before {
  content: "\ed7d";
}
.sicon-googlelens:before {
  content: "\ed7e";
}
.sicon-googlemaps:before {
  content: "\ed7f";
}
.sicon-googlemarketingplatform:before {
  content: "\ed80";
}
.sicon-googlemeet:before {
  content: "\ed81";
}
.sicon-googlemessages:before {
  content: "\ed82";
}
.sicon-googlenearby:before {
  content: "\ed83";
}
.sicon-googlenews:before {
  content: "\ed84";
}
.sicon-googlepay:before {
  content: "\ed85";
}
.sicon-googleplay:before {
  content: "\ed86";
}
.sicon-googlepubsub:before {
  content: "\ed87";
}
.sicon-googlephotos:before {
  content: "\ed88";
}
.sicon-googlescholar:before {
  content: "\ed89";
}
.sicon-googlesearchconsole:before {
  content: "\ed8a";
}
.sicon-googlesheets:before {
  content: "\ed8b";
}
.sicon-googleslides:before {
  content: "\ed8c";
}
.sicon-googlestreetview:before {
  content: "\ed8d";
}
.sicon-googlesummerofcode:before {
  content: "\ed8e";
}
.sicon-googletagmanager:before {
  content: "\ed8f";
}
.sicon-googletasks:before {
  content: "\ed90";
}
.sicon-googletv:before {
  content: "\ed91";
}
.sicon-googletranslate:before {
  content: "\ed92";
}
.sicon-gotomeeting:before {
  content: "\ed93";
}
.sicon-gplv3:before {
  content: "\ed94";
}
.sicon-grab:before {
  content: "\ed95";
}
.sicon-gradio:before {
  content: "\ed96";
}
.sicon-gradle:before {
  content: "\ed97";
}
.sicon-gradleplaypublisher:before {
  content: "\ed98";
}
.sicon-grafana:before {
  content: "\ed99";
}
.sicon-grammarly:before {
  content: "\ed9a";
}
.sicon-grandfrais:before {
  content: "\ed9b";
}
.sicon-grapheneos:before {
  content: "\ed9c";
}
.sicon-graphite:before {
  content: "\ed9d";
}
.sicon-graphql:before {
  content: "\ed9e";
}
.sicon-grav:before {
  content: "\ed9f";
}
.sicon-gravatar:before {
  content: "\eda0";
}
.sicon-graylog:before {
  content: "\eda1";
}
.sicon-greasyfork:before {
  content: "\eda2";
}
.sicon-greatlearning:before {
  content: "\eda3";
}
.sicon-greensock:before {
  content: "\eda4";
}
.sicon-greenhouse:before {
  content: "\eda5";
}
.sicon-greptimedb:before {
  content: "\eda6";
}
.sicon-griddotai:before {
  content: "\eda7";
}
.sicon-gridsome:before {
  content: "\eda8";
}
.sicon-grocy:before {
  content: "\eda9";
}
.sicon-groupme:before {
  content: "\edaa";
}
.sicon-groupon:before {
  content: "\edab";
}
.sicon-grunt:before {
  content: "\edac";
}
.sicon-gsap:before {
  content: "\edad";
}
.sicon-gsk:before {
  content: "\edae";
}
.sicon-gsma:before {
  content: "\edaf";
}
.sicon-gsmarenadotcom:before {
  content: "\edb0";
}
.sicon-gstreamer:before {
  content: "\edb1";
}
.sicon-gtk:before {
  content: "\edb2";
}
.sicon-guangzhoumetro:before {
  content: "\edb3";
}
.sicon-guilded:before {
  content: "\edb4";
}
.sicon-guitarpro:before {
  content: "\edb5";
}
.sicon-gulp:before {
  content: "\edb6";
}
.sicon-gumroad:before {
  content: "\edb7";
}
.sicon-gumtree:before {
  content: "\edb8";
}
.sicon-gunicorn:before {
  content: "\edb9";
}
.sicon-gurobi:before {
  content: "\edba";
}
.sicon-gusto:before {
  content: "\edbb";
}
.sicon-gutenberg:before {
  content: "\edbc";
}
.sicon-gimp:before {
  content: "\edbd";
}
.sicon-gin:before {
  content: "\edbe";
}
.sicon-giphy:before {
  content: "\edbf";
}
.sicon-git:before {
  content: "\edc0";
}
.sicon-gitbook:before {
  content: "\edc1";
}
.sicon-gitcode:before {
  content: "\edc2";
}
.sicon-gitconnected:before {
  content: "\edc3";
}
.sicon-gitea:before {
  content: "\edc4";
}
.sicon-gitee:before {
  content: "\edc5";
}
.sicon-gitextensions:before {
  content: "\edc6";
}
.sicon-gitforwindows:before {
  content: "\edc7";
}
.sicon-gitignoredotio:before {
  content: "\edc8";
}
.sicon-gitkraken:before {
  content: "\edc9";
}
.sicon-gitlab:before {
  content: "\edca";
}
.sicon-gitlfs:before {
  content: "\edcb";
}
.sicon-gitpod:before {
  content: "\edcc";
}
.sicon-gitter:before {
  content: "\edcd";
}
.sicon-github:before {
  content: "\edce";
}
.sicon-githubactions:before {
  content: "\edcf";
}
.sicon-githubcopilot:before {
  content: "\edd0";
}
.sicon-githubpages:before {
  content: "\edd1";
}
.sicon-githubsponsors:before {
  content: "\edd2";
}
